[2018-05-15 22:27] #200 closed

[2018-05-15 22:29] n1207n commented on #442
Closing this as PyPi packages are not compatible with Django 2.0 yet.

[2018-05-15 22:29] #442 closed

[2018-05-15 22:29] n1207n commented on #345
Closing this as irrelevant now.

[2018-05-15 22:29] #345 closed

[2018-05-15 22:30] n1207n commented on #554
There has not been new additions to Cluster analysis features. Closing this as irrelevant but we may create a new ticket if needed.

[2018-05-15 22:30] #554 closed

[2018-05-15 22:30] n1207n commented on #394
We now have workspace filter on Response plan UI. Closing this.

[2018-05-15 22:30] #394 closed

[2018-05-15 22:30] n1207n commented on #464
This is now implemented.

[2018-05-15 22:30] #464 closed

[2018-05-15 22:31] n1207n commented on #552
Is this still relevant?

[2018-05-15 22:31] #643 closed

[2018-05-15 22:32] n1207n commented on #621
We decided to go manual human approach. Closing this.

[2018-05-15 22:32] #621 closed

[2018-05-15 22:33] n1207n commented on #558
Think we have a celery task for that now. We may have to revisit when it is due. Closing this.

[2018-05-15 22:33] #558 closed

[2018-05-16 00:54] sethgold8 opened #658 "Not filtering Cluster Objective"
![Screen Shot 2018-05-15 at 5.53.52 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f66b7191a37df117284f5a5d5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19041c95df44de54e57a5133466ee722431.png)

[2018-05-16 01:00] #633 closed

[2018-05-16 01:01] n1207n commented on #600
I have stated that this is not a bug many times. But if @chachra can clarify, that would be great.

[2018-05-16 01:05] sethgold8 opened #659 "Cannot Import Response Plan from Libya or Nigeria (Maybe New OPS issue)"
![Screen Shot 2018-05-15 at 5.56.41 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f66b7191a37df1172d4f5b5e5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a29841c95df44de54e57a3113161e5722431.png)

It is working fo

[2018-05-16 01:09] n1207n commented on #658
I looked at backend code for filtering, and it seems the filter is not even working due to GET parameter argument is `clusters`, not `cluster_id`. Will work on it tomorrow.

[2018-05-16 09:46] rkrupinski commented on #654
@n1207n Okay, I found one more inconsistency that once removed seems to have fixed the issue. The `id`s within disaggregation keys seem to come (from django) sorted in ascending order. In polymer, we seem to purposefully reverse that order for some reason I'm unable to comprehend.

Take a peak at https://github.com/unicef/etools-partner-reporting-portal/commit/0707ee1ff43f7b291363e92a6452d88289b8d

[2018-05-16 15:05] rkrupinski opened #660 "Fix printing"
Make the printer component insensitive to DOM changes (we shuffled some DOM nodes recently which broke printing).

[2018-05-16 16:14] sethgold8 opened #661 "force redirect to https on staging"
When user is not using https, we should redirect them to make sure it goes to https

[2018-05-16 17:39] sethgold8 opened #662 "Under Project Activities, project link is broken"
![Screen Shot 2018-05-16 at 10.32.01 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a379ef0c2853415f4fbc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52dcbd4f3fb29842c259f349e7495ca7163664ef75346e0a.png)

[2018-05-16 18:31] sethgold8 opened #663 "We show in the dashboard indicators from other workspaces they do not belong"
This indicator should only be for the Mali workspace (where it pertains)

I think this is due to the IMO being in multiple clusters (of different workspaces)

![Screen Shot 2018-05-16 at 11.28.59 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a379ee0c2959415a47bc30254d5

[2018-05-16 18:49] sethgold8 opened #664 "Report not being generated from Partner Activity Indicators that come from a Custom Activity. It is showing in Dashboard, but not in Reporting Results"
![Screen Shot 2018-05-16 at 11.52.12 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a379ee0c2e53415e4cbc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52dcbd4f3fb29b49c259f349e7495ca21b3167e572346e0a.png)

----

Locatio

[2018-05-16 19:09] sethgold8 opened #665 "When custom date of report is ‘added +’ for COI and CAI, the date format is is not correct"
The first date of report is fine.

![Screen Shot 2018-05-16 at 12.09.15 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a379ed0c2b58415e4bbc21254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52dcbd4f3fb29843c259f349e7495ca31

[2018-05-16 19:13] sethgold8 opened #666 "Title of Indicators should Wrap instead of ..."
If it's a long title, we cut it off with '...'.

We should Wrap (examples below) it instead

![Screen Shot 2018-05-16 at 12.13.09 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a379ed0c2a52415f47bc21254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8

[2018-05-16 19:28] sethgold8 opened #667 "Not showing Cluster and Cluster Objective Title when looking at Cluster Activities"
![Screen Shot 2018-05-16 at 12.27.16 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a379ed0c2956415e48bc21254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52dcbd4f3fb29843c259f349e7495cac1b3f67e3743f6e0a.png)

[2018-05-16 19:37] sethgold8 opened #668 "When adding a 'Cluster Activity', we show Objectives that are not in that specific cluster"
In Response Plan 'Plan Name' and workspace 'Mali'. 118/response-parameters/clusters/objectives?page_size=10&page=1

I selected the Protection Cluster and these 4 objectives appeared

![Screen Shot 2018-05-16 at 12.33.39 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a37

[2018-05-16 20:17] sethgold8 opened #669 "IMO and Partner Should not be able to edit title, label, etc (more in the ticket) for PAI derived from CAI"
Editing Partner Activity Indicator modal derived from CAI a  should only allow Partner to add new locations or editing targets on locations. This happens for both **Partner and IMO user**

Right now IMO can edit Title, Comments, measurement specifications, Frequency of reporting, date of report, start date of report, labels (all), baseline and target on PAI **even though they should be locked sinc

[2018-05-16 20:41] sethgold8 opened #670 "Login with Unicef email not working if you are not previously set up"
Kunal signed in via Unicef email and his email is not showing up in Django admin to approve afterwards

![Screen Shot 2018-05-16 at 1.22.57 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a379f110294f5a585ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba298

[2018-05-16 21:00] sethgold8 commented on #670
working fine so closing

[2018-05-16 21:00] #670 closed

[2018-05-16 21:01] sethgold8 opened #671 "Need Splash screen for AD when user logs in from Unicef Email"
We do not have the splash screen when a user comes from their Unicef Email

it should be the same and say "Account created. Please wait 1-2 business days for your admin to approve you. If it has been longer then 1-2 business days, please email X to get you approved. "

When a user signs up from AD, the backend may add `UNICEF User` group to the created user object, so the user will always have a g

[2018-05-16 21:04] robertavram commented on #639
https://github.com/unicef/etools/pull/1476/files
new partner sync by business area code...

[2018-05-16 21:28] sethgold8 opened #672 "Activities from OCHA not showing up. Objectives + Indicators from Old OPS might be missing too"
Previously we had these objectives (and indicators inside)

![Screen Shot 2018-05-16 at 2.27.20 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a37af1102c4f5d5f5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed572

[2018-05-16 21:42] sethgold8 opened #673 "Staging Issues"

[2018-05-16 22:12] sethgold8 commented on #668
This should fix #658 as well (not filtering cluster objective properly)

Fix cluster objective filter class to use correct keyword

[2018-05-16 22:15] sethgold8 commented on #667
Check frontend to see if cluster title is rendered correctly

On Backend, make sure you send cluster objective title and update frontend from it

[2018-05-16 22:43] sethgold8 commented on #663
#closing this is a fake data issue because we are showing indicators for the specific partner. The specific partner belongs to all clusters (which would not happen).

[2018-05-16 22:43] #663 closed

[2018-05-16 22:58] sethgold8 commented on #659
ISO code updated somehow. It is working now so #closing

[2018-05-16 22:58] #659 closed

[2018-05-16 23:10] #600 closed

[2018-05-16 23:16] sethgold8 commented on #644
We are not seeing 'Date of Report' anymore in Etools PMP @robertavram @dfryta

[2018-05-16 23:41] sethgold8 commented on #644
@dfryta @robertavram we just renamed the ticket to **Partner Details**

We assume 'Date of Report' from risk rating in PMP Partner Details Page is Date of Assessment in PRP

![Screen Shot 2018-05-16 at 4.31.00 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455f56b7191a37cf1112a4f5

[2018-05-17 00:13] sethgold8 opened #674 "When pulling project from OCHA is not an option, do not show the 'custom' choice to add the project. Just have it directly enter the custom information"
- [x] When pulling project from OCHA is not an option, do not show the 'custom' choice. Just go there directly

- [x] Project list should only apply to specific Partner after the partner is selected

[2018-05-17 07:16] n1207n commented on #654
@rkrupinski,

Let's hold off on this issue until tomorrow's meeting. We don't know their expectation on UX.

As far as disaggregatioj key entries, I concluded that your local environment may have gotten messy. Fake data script ensures all reportable share same disaggregation keys.

I couldn't replicate the issue on my environment so let's move on. Focus on other tickets assigned to you

[2018-05-17 08:43] momimomo commented on #647
now cant test against_in_need, as there is different logic for switching between users or lack of data? `total_against_target` works.

[2018-05-17 08:59] momimomo commented on #671
so it also could have field `is_unicef_user` or something like that, right, but on the above example, the logic based on such response from API would just make it so that we show it to all types of users (imo, ao, pe, pv) with no permissions, right?

So, we want to basically just set the imo/ao/pe/pv settings for AD users automatically after registering, and it's not going to be empty groups? I do

[2018-05-17 09:26] momimomo commented on #644
I'm sorry, I don't really understand those changes... I haven't been working on this at all yet.

[2018-05-17 09:28] momimomo commented on #669
I'm sorry, it was Rafał's component I think, it's going to take some time for me to go through all of it, so maybe let's assign him too.

[2018-05-17 12:07] rkrupinski commented on #669
@sethgold8 The UI also lets IMOs add partner activities / indicators. How's that coherent?

cc @n1207n

[2018-05-17 12:51] rkrupinski commented on #674
@sethgold8

Do you mean filtering the list of partner projects by partner name?

[2018-05-17 14:12] momimomo commented on #647
locally both working fine.

[2018-05-17 16:07] sethgold8 commented on #674
Yes. Once the Partner is selected, we should only show the projects that
pertain to that specific partner.

On Thu, May 17, 2018 at 5:51 AM Rafał Krupiński <notifications@github.com>
wrote:

[2018-05-17 16:12] sethgold8 commented on #669
@rkrupinski just the edit indicator modal of the photo attached above

[2018-05-17 16:13] sethgold8 commented on #647
great, will test today or tomorrow

[2018-05-17 18:52] #654 closed

[2018-05-17 22:43] sethgold8 opened #675 "UX for making it clear that a user needs to add locationsI for report generation in Cluster (Keep Open)"
Need to improve the UX so a user knows when reports are generated.

- [x] In the indicator list view (on all indicator list views be it CA, PA, CO, PP etc. Should show in all places in response parameters for IMO and only under "my planned action" lists if partner) at the top add a message if any indicator has no locations "Please make sure indicators have locations set for reports to be generated

[2018-05-17 23:37] sethgold8 commented on #658
working :)

[2018-05-17 23:37] #658 closed

[2018-05-17 23:41] sethgold8 commented on #645
working :)

[2018-05-17 23:41] #645 closed

[2018-05-17 23:44] sethgold8 commented on #668
working :)

[2018-05-17 23:44] #668 closed

[2018-05-17 23:45] sethgold8 commented on #667
working :)

[2018-05-17 23:45] #667 closed

[2018-05-18 10:56] dfryta commented on #538
I cannot recreate #1. Please open new ticket if happens again.

[2018-05-18 10:56] rkrupinski commented on #674
@sethgold8

pertain to that specific partner.

This seems to be working as we speak

[2018-05-18 10:59] rkrupinski commented on #640
Is the backend change mentioned above already in place?

[2018-05-18 16:25] sethgold8 commented on #641
Name of agency should just be a text field that user can enter. Moved to #536 so this ticket is good and closing :)

[2018-05-18 16:26] sethgold8 commented on #672
any thoughts update on this @maciej-jaworski ?

[2018-05-18 17:32] sethgold8 commented on #647
@momimomo pushing this ticket back. It still shows target/In need.

If it we're achieved / in need, the % would be 0 since there is nothing entered for 'achieved'.
![Screen Shot 2018-05-18 at 10.31.23 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455fb6b7191a379ef0c2850415d4dbc30

[2018-05-18 17:42] sethgold8 commented on #664
working :)

[2018-05-18 17:42] #664 closed

[2018-05-18 18:16] sethgold8 commented on #669
@rkrupinski

Partner should not be able to edit  'Baseline' and 'In Need'

![Screen Shot 2018-05-18 at 10.54.58 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455fb6b7191a379ef0c2e55415a46bc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11

[2018-05-18 18:34] sethgold8 commented on #639
@dfryta can we start using the new api Rob mentioned above on partner sync branch

[2018-05-18 18:56] #657 closed

[2018-05-18 18:57] sethgold8 opened #678 "Update Response Plan List UI for partner user to only show response plans where their cluster belongs too"

[2018-05-18 19:06] sethgold8 commented on #642
works :)

[2018-05-18 19:06] #642 closed

[2018-05-18 21:06] sethgold8 commented on #635
Map is still not always centered. On this photo, it locations were initially working, after 2nd time refreshing, locations are not showing and it is not centered.

![Screen Shot 2018-05-18 at 2.05.21 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455fb6b7191a37af1122e4f5d5e5ecc3c4

[2018-05-18 21:17] sethgold8 commented on #660
works good :)

[2018-05-18 21:17] #660 closed

[2018-05-18 22:13] n1207n commented on #662
@rkrupinski, Can you take a look at this one? Interestingly, project's activity links work in My planned actions, but not working in partner project's activity links from response parameter.

[2018-05-18 22:40] sethgold8 commented on #674
The flow is
1. Select 'Custom'

![Screen Shot 2018-05-18 at 3.38.23 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455fb6b7191a37bf111234f5d5c5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df44de74556a51b316

[2018-05-18 22:49] n1207n commented on #538
@dfryta,

Based on the staging data, Libya 2018 response plan from OCHA seems to have some OCHA indicators. (In case you wanna replicate this locally)

In staging ,we were able to produce 500 error when exporting indicators in Reporting results tab in 2 different cases:

1. In Iraq 2018 response plan, we encountered this error:
[code]

2. In Libya 2018 response plan (where OCHA imported indicators

[2018-05-18 23:46] sethgold8 opened #679 "Partner and IMO should not be able to edit 'Baseline' and 'In Need' at location level when it is a PAI derived from a CAI"
Partner and IMO should not be able to edit  'Baseline' and 'In Need' at location level when it is a **cluster activity derived indicator**.

They can edit 'Target'

![Screen Shot 2018-05-18 at 11.21.00 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455fb6b7191a379ee0c2950415f4ebc3

[2018-05-18 23:59] sethgold8 commented on #570
@dfryta can you update Serializer API ? This should be working now

[2018-05-19 00:03] sethgold8 opened #680 "Misc Dashboard Issues"
- [x] Number of Due/Overdue Reports in dashboard # is different then the # in Reporting Results
Says 188
![Screen Shot 2018-05-18 at 5.03.50 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266455fb6b7191a37df112284f5a5f5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29

[2018-05-20 19:41] momimomo commented on #647
This is back-end ticket. There are no calculations on frontend. Endpoints are hooked correctly.

[2018-05-20 22:27] momimomo commented on #536
Changed `name of funding agency` to string input.

[2018-05-21 06:18] maciej-jaworski commented on #672
@sethgold8 I do not have time to look into this.

[2018-05-21 06:38] momimomo commented on #666
This will be nearly impossible to implement given current complexity of this component.

How about adding labels on hover that contain the full title?

[2018-05-21 07:30] rkrupinski commented on #674
@sethgold8 @momimomo See https://github.com/unicef/etools-partner-reporting-portal/pull/677

[2018-05-21 11:29] dfryta commented on #644
Waiting for @robertavram. We are missing `alternate name` and `core value assessment date` in PMP API partner endpoint.

[2018-05-21 12:15] dfryta commented on #538
@n1207n let's talk on daily, since I cannot reproduce this locally.

[2018-05-21 17:22] robertavram commented on #644
hey @dfryta .. you can use `https://etools-demo.unicef.org/api/prp/v1/partners/?workspace=2130` that should have all the fields... you can discard all usage of the old partner endpoint

[2018-05-21 17:28] sethgold8 commented on #538
In Iraq 2018 as admin_imo
app/IRQ/cluster-reporting/plan/115/results/draft?page_size=10&page=1&indicator=4413

![Screen Shot 2018-05-21 at 10.24.56 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f26b7191a379ef0c2955415a48bc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cb

[2018-05-21 17:35] robertavram commented on #612
QPR and HR are now under `reporting_requirements` field.. as `report_type` same structure (`due_date`, `start_date`, `end_date`, + `report_type`)

SR will be a new field called `special_reports` will include a list of objects with the properties `due_date` and `description`

[2018-05-21 17:41] n1207n opened #681 "PMP facing API for returning a list of reporting frequencies given a list of cluster reportable ids"
** Technical notes **

A sample request POST JSON payload:
[code]

A sample response:

A list of unique frequencies (except possibly duplicate csd due to their custom reportin dates)

[code]

[2018-05-21 17:47] sethgold8 commented on #674
working :)

[2018-05-21 17:47] #674 closed

[2018-05-21 17:53] sethgold8 commented on #665
working :)

[2018-05-21 17:53] #665 closed

[2018-05-21 17:54] sethgold8 opened #682 "For Custom Specific Dates of Reporting of an Indicator, Date of Report should never be before the Start Date of reporting Period"

[2018-05-21 17:55] sethgold8 commented on #682
![Screen Shot 2018-05-21 at 10.53.10 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f26b7191a379ef0c2e52415e4ebc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52dcbd4f3fb29843c259f349e74457a1103666ee7e316e0a.png)

[2018-05-21 17:55] sethgold8 commented on #682
![Screen Shot 2018-05-21 at 10.53.10 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f26b7191a379ef0c2e52415e4ebc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52dcbd4f3fb29843c259f349e74457a1103666ee7e316e0a.png)

[2018-05-21 17:56] sethgold8 commented on #536
working :)

[2018-05-21 17:57] #536 closed

[2018-05-21 18:10] sethgold8 commented on #669
working :)

[2018-05-21 18:10] #669 closed

[2018-05-21 19:25] dfryta commented on #639
@sethgold8 Sure, let me check this new endpoint. Connected with #644

[2018-05-21 19:47] n1207n commented on #570
I'll be taking over this ticket to finish.

[2018-05-21 20:14] n1207n commented on #570
@robertavram, just for a quick question.

Is the field `funds_received_to_date` still relevant? I notice that PMP PD sync API does not include this field anymore.

[2018-05-21 20:16] dfryta commented on #644
@robertavram new endpoint is lack of `partner_type`, `cso_type`, `total_ct_cp`, `total_ct_cy` required by PRP Partner model. Is it possible to add those fields like in old endpoint?

[2018-05-21 21:41] n1207n commented on #636
Taking over this ticket as well. Some linting issues to fix and needs to add IMO user support for this.

[2018-05-21 21:48] sethgold8 opened #683 "Unable to change the Partner Admin_AO. Was Rafasa Institute and wanted to switch to an Armenian 2018 HR"
I was Rafasa Institute and wanted to switch to an Armenian partner. Received this error message, Might be an issue from the migration

![Screen Shot 2018-05-21 at 2.38.36 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f26b7191a37af111234f5c595ecc3c4a4356bcbbd671f3e57862804e0ee5

[2018-05-21 22:13] n1207n opened #684 "Specify Partner for IMPORT TEMPLATE button as an IMO user on Reporting Results"
For importing IndicatorLocationData objects into Reporting results, a partner user can easily pass partner to IndicatorXLSXReader class.

However for the IMO user which may have a list of partners from its clusters, we need to somehow specify partner for IMO user when importing Indicator templates on that page.

I suggest we would create a modal to specify a partner before an excel file upload hap

[2018-05-21 23:28] sethgold8 opened #685 "Input box is disabled when clicking 'enter data' on locations with no disaggregation reported on"
I went to enter data and was unable to. Input is not enabled.

![Screen Shot 2018-05-21 at 4.27.40 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f26b7191a37cf1102c4f5b5f5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed

[2018-05-21 23:52] sethgold8 opened #686 "Fake data issue: Make sure LLO indicators with dual reporting to have disaggregation from its cluster activity and not create its own."
![Screen Shot 2018-05-21 at 4.53.45 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f26b7191a37cf117284f5b5a5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df44de84953ad113467e07e2431.png)

[2018-05-22 00:02] sethgold8 commented on #638
working good :)

[2018-05-22 00:03] #638 closed

[2018-05-22 00:59] sethgold8 opened #687 "Disaggregation data table with all disaggregations are not rendered properly"
![Screen Shot 2018-05-21 at 5.59.03 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f26b7191a37df117224f5f5c5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df44de84855a31a306be67e2431.png)

Even if you fill

[2018-05-22 01:04] sethgold8 opened #688 "When we 'Pull Data' in a QPR, do a hard refresh"
The total location data after pulling hf data is not updated immediately. Need to do hard refresh to force

[2018-05-22 01:05] sethgold8 commented on #615
Working good :)

[2018-05-22 01:05] #615 closed

[2018-05-22 17:12] sethgold8 commented on #662
I noticed it was working when I went through 'My Planned Action'.

Going to Partners ---> Projects ---> Activities ---> Project activities is still not working.

[2018-05-22 17:17] sethgold8 commented on #678
just for clarification @n1207n if I am admin_ao and partner Armenia 2017, why do I have access to Response Plans for Iraq 2018 + Iraq 2017?

![Screen Shot 2018-05-22 at 10.15.43 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f16b7191a379ef0c2a54415b4dbc30254d58eeb9cb74fce36f349

[2018-05-22 17:26] #683 closed

[2018-05-22 17:28] sethgold8 commented on #678
Just check...thanks for clarification :). Pushing through

[2018-05-22 17:29] #678 closed

[2018-05-22 18:10] sethgold8 commented on #636
@n1207n not sure the best way to test this? Do we throw an error if they try to export indicators that do not belong to them (the partner)? Or do we throw the error if they try to upload data for indicators that don't belong to them.

I suggest validation error when trying to export with message that "Partner can only export indicators that they can report on ".

Right now I am receiving this erro

[2018-05-22 18:13] n1207n commented on #636
Could be that import/export functionality itself is not complete. I only fixed the linting issues and added IMO support for importing indicator report data up to my best knowledge.

I guess I have to re-assign this ticket to Dariusz since he may be still working on import/export feature.

[2018-05-22 19:15] n1207n commented on #606
Dupes of #671. Closing

[2018-05-22 19:15] #606 closed

[2018-05-22 20:12] sethgold8 commented on #570
Details still not matching up. Check Unicef supplies.

![Screen Shot 2018-05-22 at 1.09.31 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f16b7191a379f112224f5c5e5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a190

[2018-05-22 21:30] rkrupinski commented on #662
This does work now, trust me :) Something must have prevented the code from deploying to staging.

cc @nemd

[2018-05-22 21:49] sethgold8 commented on #662
Just tested again and still facing the same issue. I can show at our standup

Was admin_ao in Iraq
2018 app/IRQ/cluster-reporting/plan/115/response-parameters/partners/project/126/activities?page_size=10&page=1&project=126

On Tue, May 22, 2018 at 2:30 PM Rafał Krupiński <notifications@github.com>
wrote:

[2018-05-22 22:38] sethgold8 commented on #662
working now :)

[2018-05-22 22:38] #662 closed

[2018-05-22 23:00] #648 closed

[2018-05-22 23:02] sethgold8 opened #689 "On Indicators Page in IP, make the color of the bar green in 'Current Progress' for CLUSTER INDICATORS when looking at Against Target"
Indicators page in IP reporting now needs to flag cluster indicators from the API response. Change the bar color for `against target` to green if the indicator object from API response has `ca_indicator_used_by_reporting_entity` field not null.

![Screen Shot 2018-05-22 at 4.04.37 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58d2f674dc6eec1a00ff72e7/125516c66e82c728a

[2018-05-22 23:27] sethgold8 opened #690 "Add hover on "Locations" button for CAI for IMO"
Hover should say: Location goals for partners

This should help IMO know the purpose of the button

![Screen Shot 2018-05-22 at 4.26.05 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f16b7191a37cf1102d4f5f5a5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a8

[2018-05-22 23:40] sethgold8 commented on #679
working good :)

[2018-05-22 23:41] #679 closed

[2018-05-23 00:10] n1207n commented on #686
TODO: We need to re-run fake data script when staging is updated with this change.

[2018-05-23 07:23] momimomo opened #691 "Title of projects in response parameters -> partner projects - add hover"

[2018-05-23 07:27] momimomo commented on #691
![Screen Shot 2018-05-23 at 09.26.42.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5abba0fa42a63c001483a918/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f06b7191a378e60c2957415b4cbe5d4a1f06a3a3dc78e2a436628f5458bbd96e0a74c53b18ffb9871fbf08b8258c4982b4ba9850d2aa6c7bb3d4d216744b470a83ed5c32aa984eca5ff64de14957a310366af43b.png)

[2018-05-23 15:33] chachra commented on #612
Waiting on special_reports from PMP. @robertavram

[2018-05-23 15:50] chachra commented on #644
@robertavram are these fields are going to be available or ??

[2018-05-23 17:03] sethgold8 opened #692 "Unable to login via Active Directory"
Environment variable `DJANGO_ALLOWED_HOST` is blank in backend pod. Please check rancher config for backend to see if they are correctly set up. It's fine to use dev django settings file for now, since dev settings has AD social auth backend.

![Screen Shot 2018-05-23 at 10.01.00 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ac

[2018-05-23 17:12] sethgold8 commented on #685
@rkrupinski  as Partner:  Armenia  2017 HR - Wash Cluster Partner. In Workspace Armenia, programme_document_0

You can get to indicators here: app/AM/ip-reporting/pd/580/report/126/edit?page=1

[2018-05-23 17:20] sethgold8 commented on #688
working good :)

[2018-05-23 17:20] #688 closed

[2018-05-23 17:27] sethgold8 commented on #647
Working good :)

[2018-05-23 17:27] #647 closed

[2018-05-23 17:29] #666 closed

[2018-05-23 17:31] sethgold8 commented on #690
working good :)

[2018-05-23 17:31] #690 closed

[2018-05-23 17:32] sethgold8 commented on #691
working good :)

[2018-05-23 17:32] #691 closed

[2018-05-23 17:42] sethgold8 commented on #570
CSO Contribution seems to be going through but it is not being calculated in the Total Budget

PMP has Total budget 1934,415 and PRP has it at 177,033.6 for PD 2016/30/PD2017339. Partner AFKAR SOCIETY FOR DEVELOPMENT AND RELIEF

![Screen Shot 2018-05-23 at 10.39.10 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db97882

[2018-05-23 21:26] n1207n opened #693 "Show Pull data even for cluster indicator QPR report type"
Currently, we only expose Pull data from HR button if it's non cluster QPR progress report. We should also show this button for cluster QPR progress report.

[2018-05-23 21:36] n1207n commented on #681
@robertavram, the below shows API payload and response examples. I'll make a PR for you to review the API logic soon.

[code]

[2018-05-24 00:11] sethgold8 opened #695 "In IP when in a QPR, Cluster Indicator top bar is blue as opposed to green"
Need a way to identify that it is a cluster indicator and make sure the bar is green

![Screen Shot 2018-05-23 at 5.07.51 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f06b7191a37df1122c4f5a5e5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42

[2018-05-24 09:58] dfryta commented on #639
Done in #644.

[2018-05-24 10:14] rkrupinski commented on #685
@n1207n

This is related to #654.

Locations for which the problem occurs have `disaggregation_reported_on` with ids that don't match the ones within `disagg_lookup_map`. Also, when you check and uncheck again all the disaggregation checkboxes (`disaggregation_reported_on` is then built by polymer, thus matches `disagg_lookup_map`) you're unable to submit the data:

[code]

[2018-05-24 12:04] rkrupinski commented on #635
@sethgold8 I'm gonna need a combination of workspace / response plan / admin level for which we have location geometry on staging.

[2018-05-24 12:10] rkrupinski commented on #687
@n1207n

Related to #654 (#685) ?

Upon unchecking & checking the checkboxes, disaggregation keys are formatted by polymer based on  `disagg_lookup_map`.

[2018-05-24 14:48] sethgold8 commented on #651
On IP can't send report back

[2018-05-24 14:50] sethgold8 commented on #651
lock if indicator report on cluster side sent; unlock if it is sent back

[2018-05-24 16:55] sethgold8 opened #696 "Add 'Overall Status' + 'Narrative' back to indicators in Reporting Results"
We removed overall status (Met, On track, No progress, constrained, no status) and narrative from indicators in Cluster Reporting. We need to add it back

![Screen Shot 2018-05-24 at 5.00.39 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f76b7191a37df1122b4f5c565ecc3c4a4356bcbb

[2018-05-24 20:14] sethgold8 commented on #671
@momimomo amd getting a 502 error when testing with a fake email. Have not sent to unicef to test yet.
![Screen Shot 2018-05-24 at 1.13.16 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f76b7191a379f113284f5e595ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba2989

[2018-05-24 20:14] sethgold8 commented on #692
closing this. The login is there, getting through is still buggy. CLosing this but refer to #

[2018-05-24 20:47] robertavram commented on #681
@adi130987 check out @n1207n 's response.. This is the PRP endpoint to retrieve a list of unique reporting periods for Cluster Indicators.  Thanks Silin!

[2018-05-24 20:52] n1207n commented on #687
This is personally getting really frustrated. We have seen incomplete disaggregation table rendering multiple times since last year.

This error happens for both dual and regular reporting.

For dual reporting rendering, I understand that current staging has old fake data which may have different `disagg_lookup_map`. As I commented in different Github issue, this can be fixed by re-running fake da

[2018-05-24 22:40] sethgold8 commented on #692
Getting 502 error when trying to login

![Screen Shot 2018-05-24 at 1.13.16 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f76b7191a379f113284f5e595ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df44ce34d5

[2018-05-24 22:57] sethgold8 commented on #693
working good :)

[2018-05-24 22:57] #693 closed

[2018-05-24 23:20] sethgold8 opened #697 "Polymer is calling Partner List API in Partner Project UI incorrectly"

[2018-05-24 23:31] sethgold8 commented on #635
have seen it not centered but tested with SIlin today and am pushing through...worked fine :)

[2018-05-24 23:31] #635 closed

[2018-05-25 00:00] n1207n commented on #686
Fake data script is somehow broken. locally reproduced. Needs to fix that then we can test these issues again

[2018-05-25 00:04] sethgold8 commented on #661
working good. Sitll some issues with AD login but other tickets are filed for those

[2018-05-25 00:11] #493 closed

[2018-05-25 09:42] rkrupinski commented on #687
Actually, no matter the order inside `disagg_lookup_map` and `disagg_choice_lookup_map`, disaggregation keys should be consistent between django & polymer and the screenshot above clearly shows that's not the case.

[2018-05-25 12:35] dfryta opened #699 "Missing fields in PMP Partner API"
New partner endpoint `https://etools-demo.unicef.org/api/prp/v1/partners/?workspace=2130` is lack of `partner_type`, `cso_type`, `total_ct_cp`, `total_ct_cy`. Please add them to PMP API.

[2018-05-25 12:36] dfryta commented on #644
Created new ticket for missing fields: #699. Closing this one.

[2018-05-25 16:44] sethgold8 opened #700 "Add Header Message for Suspended PD's"
Once inside a Suspended PD, we should have the header message:

"PD is suspended, please contact UNICEF programme focal person to confirm reporting requirement."

[2018-05-25 17:17] #661 closed

[2018-05-25 18:13] n1207n commented on #686
Turns out there was an additional manual step to do in order to generate dual reporting indicator reports. Will run that manual step once staging is deployed again. Then I'll close this.

[2018-05-25 23:17] n1207n commented on #570
Adding a logic to add total budget sum from budget values instead of pulling budget field from PMP. Getting deployed soon.

[2018-05-25 23:41] sethgold8 commented on #680
I noticed no matter how many locations, disaggregations, everytime I submit a report, the 'Number of Due/Overdue Reports'  goes down by 18 for imo on iraq 2018. IRQ/cluster-reporting/plan/152/dashboard?page=1&cluster_id

[2018-05-25 23:45] sethgold8 commented on #671
@momimomo can you make the splash screen text a bit bigger. Right now its super small and hard to read

[2018-05-25 23:52] n1207n commented on #685
I see now inputs are enabled on dual reporting data

[2018-05-26 00:04] sethgold8 commented on #538
@dfryta

On **staging** in Iraq 2018 as imo /IRQ/cluster-reporting/plan/152/results/draft?page_size=10&page=1&indicator=6544  generated template and then entered new data in 'Short' and 'Tall' column. Also tried doing all 3 with 'Total' but received this error.

![Screen Shot 2018-05-25 at 4.59.11 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/

[2018-05-28 13:50] momimomo opened #701 "Add partner_id to projects imported from OCHA"
Please add field `partner_id`allowing for filtering projects available at `/api/ocha/projects/response-plan/<id>/`.

(current records from this endpoint: )
![Screen Shot 2018-05-28 at 15.58.05.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5abba0fa42a63c001483a918/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456fb6b7191a379ea0c2e59415f4bbe5d4a1f06a3a3d

[2018-05-28 14:02] momimomo commented on #701
This is related to #640

[2018-05-28 14:05] momimomo opened #702 "Partner list not displaying correctly"

[2018-05-28 14:07] #702 closed

[2018-05-29 15:09] sethgold8 commented on #699
@robertavram do we have an update on this?

[2018-05-29 15:17] #618 closed

[2018-05-29 17:33] sethgold8 commented on #685
Input box is working.

Getting 500 error when trying to submit data. Pushing this through but opening a new ticket

[2018-05-29 17:37] #685 closed

[2018-05-29 18:17] sethgold8 opened #704 "If a PD is suspended, we no longer 'move' the final report date to when it was suspended. The final report will stay the same as previously assigned"
Only thing that changes when a PD is suspended is the header #700

PD stays active. Final reports stays when it was originally set.

[2018-05-29 19:47] n1207n commented on #651
I may have to delegate hiding `Enter data` Polymer button logic to @rkrupinski. Current polymer logic to show/hide that button requires far more effort for me to figure out.

[2018-05-29 19:48] n1207n commented on #651
** Techincal notes for frontend **
IndicatorLocationData object now exposes `is_locked` attribute. In the indicator-details.html, we need to hide `Enter data` button for each location if `is_locked` attribute is true.

[2018-05-29 20:15] sethgold8 commented on #696
works good :)

[2018-05-29 20:15] #696 closed

[2018-05-29 20:30] #681 closed

[2018-05-29 20:31] sethgold8 commented on #682
working :)

[2018-05-29 20:31] #682 closed

[2018-05-29 20:38] n1207n commented on #687
Removed .reverse() method on unsortedIds in Polymer code. No matter how backend sends the list of tuple ids to Polymer, Polymer dictates how the table cell is rendered at each phase. I made it so that the id pair is ascending order, it seems to work now. Moving forward to staging.

[2018-05-29 22:23] sethgold8 commented on #697
@rkrupinski this is working now so curious if you fixed it?

cc @n1207n

[2018-05-29 22:44] sethgold8 commented on #700
@rkrupinski header message is working good.

Can we also add it on the Progress Report Details Page in case a user is coming to the progress report directly from that left hand tab. If there is no warning header, they might not know or forget.

Language should be  "This report belongs to a suspended PD. Please contact UNICEF programme focal person to confirm reporting requirement."

Technical note

[2018-05-29 22:57] sethgold8 commented on #686
working good :)

[2018-05-29 22:57] #686 closed

[2018-05-29 23:03] sethgold8 commented on #687
working good :)

[2018-05-29 23:03] #687 closed

[2018-05-29 23:32] sethgold8 opened #706 "Fix indicator location update API to accept unicef only data in dual reporting indicator report"
Change validation to allow unicef only location data even if indicator report has parent.

[2018-05-29 23:46] sethgold8 commented on #689
working :)

[2018-05-29 23:46] #689 closed

[2018-05-29 23:55] sethgold8 opened #707 "In Django admin, user creation should include email"
Right now getting this error. We need to make sure we ask for the email

![Screen Shot 2018-05-29 at 4.54.48 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456fa6b7191a37cf1172f4f5b575ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063

[2018-05-29 23:56] sethgold8 opened #708 "Check Social Auth pipeline to make sure, user already exists by email"
Getting this error when Kunal tries to login with his Yahoo email (which already exists in the django admin)

![0.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46b8d6d6619291a685ecbc57e607b2c17145212b7a01f37826dce079ea122b585d5a49aa465a5956e0ebcb7af8e2632dd3165eafc3674d75ce3710a9ba8519bc09b8238f4a82b7aec7.jpg)

[2018-05-30 00:30] sethgold8 commented on #692
working good :). Opened #708 for social auth not checking existing emails

[2018-05-30 00:30] #692 closed

[2018-05-30 00:34] sethgold8 commented on #538
@dfryta any update? We were able to get OCHA indicators for Libya 2018 as Admin_IMO. Received this error message when trying to generate export template

![Screen Shot 2018-05-29 at 5.32.52 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456fa6b7191a37df111294f5a5d5ecc3c4a4356bcbbd

[2018-05-30 05:32] rkrupinski commented on #697
Nope - no changes made. API / data /environment edge case maybe?

[2018-05-30 07:50] dfryta commented on #640
Copy of #701

[2018-05-30 15:27] #591 closed

[2018-05-30 15:34] sethgold8 commented on #612
@robertavram any update on special_reports field?

[2018-05-30 15:36] sethgold8 commented on #672
@sethgold8 look into if we are getting activities. Check previous videos

[2018-05-30 15:43] sethgold8 commented on #695
check frontend to see if it has a flag to turn the color green

[2018-05-30 17:56] n1207n commented on #695
Apparently, the backend work for this ticket is done already. Smart me from the past ;)

** Technical notes for frontend **
@rkrupinski,

IndicatorReport object has `is_related_to_cluster_reporting` attribute. Turn green color for IndicatorReport row in ProgressReport details page, *if the ProgressReport type is QPR and `is_related_to_cluster_reporting` is true when Polymer iterates each indicator

[2018-05-30 19:21] robertavram commented on #699
Done!

[2018-05-30 19:22] robertavram commented on #612
Done!

[2018-05-30 20:10] sethgold8 commented on #699
thanks @robertavram :)

[2018-05-30 20:11] sethgold8 commented on #612
Much appreciated @robertavram !

[2018-05-30 21:57] sethgold8 commented on #636
pushing this back as would like to test after import/export is Accepted.

[2018-05-30 22:06] sethgold8 commented on #672
I do not believe we are getting activities. Also not sure if we are getting objectives/indicators from the old ops cc @dfryta @n1207n

[2018-05-30 23:49] sethgold8 commented on #704
working good :)

[2018-05-30 23:49] #704 closed

[2018-05-30 23:49] sethgold8 commented on #700
working good :)

[2018-05-30 23:49] #700 closed

[2018-05-31 17:32] sethgold8 commented on #707
working good :)

[2018-05-31 17:32] #707 closed

[2018-05-31 17:49] n1207n commented on #672
Trying to import OCHA activities from Cameroon workspace now, based on what OCHA told us for any sample workspace to work with.

Getting these errors from celery (which I had to create Periodic task for each response plan :( sadly) :

[code]

[2018-06-01 13:31] momimomo commented on #671
Increased font sizes to 28 / 16 px.

[2018-06-01 18:30] n1207n commented on #680
Number of Due/Overdue Reports reflects # of due/overdue indicator reports on Partner Activity indicators. Renaming the polymer label as such.

[2018-06-04 17:19] sethgold8 commented on #671
pushing through

[2018-06-04 17:19] #671 closed

[2018-06-04 17:32] sethgold8 commented on #672
@dfryta

Data From OCHA:

Libya 2018 should have Cluster Objectives and Indicators

Cameroon 2018 should have indicators and activities

[2018-06-04 18:11] sethgold8 commented on #675
Still working on these.

After a Partner adopts a Cluster Activity, we open the 'edit' indicator modal to let Partner user know they need to add Location(s) so reports are generated.

![Screen Shot 2018-06-04 at 11.01.53 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256454f76b7191a3

[2018-06-04 18:11] sethgold8 commented on #675
Still working on these.

After a Partner adopts a Cluster Activity, we open the 'edit' indicator modal to let Partner user know they need to add Location(s) so reports are generated.

![Screen Shot 2018-06-04 at 11.01.53 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256454f76b7191a3

[2018-06-04 18:13] sethgold8 opened #710 "Validation not working on Ratio Indicator for Baseline greater then Targer"
I initially added a Ratio indicator with Target less then Baseline.  It correctly DID NOT let me add the indicator and threw and error validation letting me know that Baseline cannot be greater then Targer.

After I made the Target greater then Baseline,  the system was not able to validate and create the indicator. It should have let me create the indicator.

![Screen Shot 2018-06-04 at 11.11.13

[2018-06-04 20:03] sethgold8 opened #711 "Update Staging Django Setting and use it on staging environment"

[2018-06-04 20:53] sethgold8 opened #712 "If Polymer has no app to render, show splash screen"
If partner user has no PD from PMP or the partner user does not belong to cluster reporting, Polymer has no idea of what apps to render therefore you will see /undefined in the URL.

![Screen Shot 2018-06-04 at 1.49.05 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256454f76b7191a379

[2018-06-04 21:04] sethgold8 commented on #644
Basis For Risk Rating does not show in E Tools but we see it coming from PMP API.

Everything looks good. Pushing forward :)

[2018-06-04 21:04] #644 closed

[2018-06-04 21:05] sethgold8 commented on #699
coming through :)

[2018-06-04 21:05] #699 closed

[2018-06-04 21:20] sethgold8 commented on #680
working good :)

[2018-06-04 21:20] #680 closed

[2018-06-04 21:23] sethgold8 commented on #695
working good :)

[2018-06-04 21:23] #695 closed

[2018-06-04 21:29] sethgold8 commented on #612
working good :)

[2018-06-04 21:29] #612 closed

[2018-06-04 21:30] sethgold8 commented on #639
working good :)

[2018-06-04 21:30] #639 closed

[2018-06-04 21:39] sethgold8 commented on #651
working :)

[2018-06-04 21:39] #651 closed

[2018-06-04 22:03] sethgold8 commented on #708
still getting error

[2018-06-04 22:23] sethgold8 opened #713 "Hard Refresh after importing response plan"
-Once IMO adds a new response plan, they are not attached to the Cluster until there is a refresh. We should do a Hard Refresh as soon as a response plan is added

**Technical notes**
- [ ] Once Polymer finishes a REST API to add new response plan from https://prp.tivixlabs.com/api/ocha/response-plans/workspace/5/, do a hard refresh on a browser.

[2018-06-04 22:37] sethgold8 opened #714 "From indicators imported from OCHA (Nigeria 2018), we cannot edit and save COI"
![Screen Shot 2018-06-04 at 3.36.52 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256454f76b7191a37bf1112d4f5a5d5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a29941c95df443e04854ac143766e6712431.png)

link: app/NGA/cl

[2018-06-04 22:41] sethgold8 commented on #710
working fine. Closing ticket

[2018-06-04 22:41] #710 closed

[2018-06-04 23:48] sethgold8 commented on #538
@dfryta spoke with @chachra. We should not allow Partner/IMO to upload partial data for a specific indicator

[2018-06-05 00:18] sethgold8 opened #715 "Inconsistent AD response from signing up directly in Active Directort"
When we sign up in AD directly oauth response gives us email address. Next time we sign in directly from AD, the response is missing email field. This is a problem for PRP django to log people in with AD especially if we ever lose or delete python social auth record.

[2018-06-05 00:21] sethgold8 commented on #708
pushing forward, opened issue #715 regarding AD account email issue

[2018-06-05 00:21] #708 closed

[2018-06-05 00:23] sethgold8 opened #716 "User Django Admin"
Make user django admin faster in list and detail both

[2018-06-05 17:59] chachra opened #717 "Make dev setup work on ubuntu 16.04"
Please setup a local VM, make dev. environment up on 16.04 ubuntu.

Might require upgrading Docker base images where appropriate. When done please make sure same also continues working on Mac.

"fab up" is the command that should work on both then.

waitforit, proxy and polymer serve should work fine.

[2018-06-05 18:20] robertavram opened #718 "Fixtures for all sync/ periodic tasks in PRP"
can we have a fixture file for all tasks in PRP so we can load it with 1 command rather than having to manually add all tasks by hand in admin.

@n1207n

[2018-06-05 18:50] sethgold8 commented on #653
Need to add parent indicator

[2018-06-05 18:51] sethgold8 commented on #636
working good :)

[2018-06-05 18:51] #636 closed

[2018-06-05 18:55] sethgold8 commented on #538
Need to make sure location id text is plain text on Google Sheets. Google Sheets saves it in a different format.

[2018-06-05 19:05] n1207n commented on #717
Just to clarify, is dev environment still gonna be set up as docker-compose in Ubuntu?

[2018-06-05 19:06] chachra commented on #717
yep.

[2018-06-05 19:07] chachra commented on #718
Also update dev setup steps to manually load up this fixture maybe. Make sure its not initial data otherwise will keep overriding on deploy. Tx.

[2018-06-05 19:07] sethgold8 opened #719 "Not receiving all data from OCHA when adding Projects"
-Not getting Total Budget, Funding Source, Description from OCHA

![Screen Shot 2018-06-05 at 12.07.18 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256454f66b7191a379ed0c2b56415e46bc21254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52

[2018-06-05 19:11] #719 closed

[2018-06-05 21:00] n1207n commented on #717
I updated README.md for Ubuntu 16.04 dev setup. I had to disable letsencrypt setup for proxy since our staging now uses AWS Route53 for SSL setup, and local env does not benefit from such setup.

For polymer, it should work as intended. If you ever get ENOSPC node.js error from `npm run dev` command, that means there is no disk space left :l This should only happen if you're running Ubuntu VM with

[2018-06-05 22:28] sethgold8 commented on #712
@rkrupinski can we get the text in the middle of the page and bigger? It's hard to read right now.

![Screen Shot 2018-06-05 at 3.27.17 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256454f66b7191a37bf1102c4f5e585ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a8

[2018-06-05 22:50] n1207n commented on #718
Now we have Django fixtures json data for djcelery model instances. Fabric command is updated to loaddata on periodic_tasks as well.

Apparently, PD sync task can already iterate workspaces, so no change is made on there.

Report generator and Overdue report checker are running every minute. Partner, Workspace, and PD sync tasks are running every 2 hours.

[2018-06-05 23:48] #178 closed

[2018-06-05 23:49] #409 closed

[2018-06-05 23:50] chachra commented on #181
@rkrupinski can you add comment as to what exists and what level of coverage can easily be added or should be at all? tx.

[2018-06-05 23:50] #485 closed

[2018-06-05 23:51] #496 closed

[2018-06-05 23:51] chachra commented on #517
not needed anymore per discussions, simple solution put in place.

[2018-06-05 23:51] #517 closed

[2018-06-06 00:03] chachra commented on #675
Please add this data in the relevant API calls and add another person to handle the frontend piece of it.

[2018-06-06 00:11] chachra opened #720 "Use basic auth for all OCHA calls to avoid throttling"
Use credentials sent. Configure them in test/staging/prod envs.

Only needed for calls to the new v1/v2 endpoints.

[2018-06-06 00:12] n1207n commented on #675
Backend API for `/api/indicator/<INDICATOR_TYPE>/` has `locations` serializer field per each Reportable.

If `locations` field is empty for Reportable, then we should show above UI message.

[2018-06-06 09:41] dfryta commented on #538
Done.

[2018-06-06 11:46] rkrupinski commented on #714
2 issues:

1. There were some validation edge-cases when a required json field was initialized with the value of `0` - this is now fixed
2. The error on the screenshot is a result of `loc_type` for some locations being `0`. We currently only support values from range `1..5`. How do we proceed?

![screen shot 2018-06-06 at 13 43 45](https://user-images.githubusercontent.com/775177/41036267-cedc4b94

[2018-06-06 12:07] rkrupinski commented on #713
From what I see, this works as expected:

![rp](https://user-images.githubusercontent.com/775177/41037208-dfc1ea10-6992-11e8-9616-526a04286672.gif)

[2018-06-06 15:16] robertavram opened #721 "Admin trigger or endpoint for triggering a task on demand"
It would be very useful for testing if there was an admin button / endpoint that would trigger some of the tasks on demand... It would avoid having to set the synchronizers at unreasonable frequency during testing and would help when developing the integration.

Partner Sync
PD sync
Process Reporting Periods
Process Due Reports

It would be useful if the applicable ones can be called with a "busin

[2018-06-06 15:37] sethgold8 commented on #714
@n1207n  Is the 0 coming from OCHA or are we setting it to 0.

[2018-06-06 15:42] sethgold8 commented on #713
We are not pulling the clusters here after repsonse plan is added until there is a hard refresh

![Screen Shot 2018-06-06 at 8.40.21 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256454f56b7191a370f1162b4f5d5e5edd3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0

[2018-06-06 17:22] n1207n commented on #721
Hi @robertavram,

Would you like to have a Django management command for each of above periodic tasks? That might be more useful for you in terms of testing that involve data from any of above periodic tasks ;)

I'll prepare management commands today for above.

[2018-06-06 17:30] n1207n commented on #721
I see. I just don't want to witness the APIs heavily abused to trigger celery perioidic tasks more than it is intended to call. Hence, I went with management command route.

I'll come up with a REST API for triggering periodic task with optional argument.

[2018-06-06 18:06] robertavram commented on #721
yeah this api should probably only be accessible by superusers

[2018-06-06 19:10] sethgold8 opened #722 "Target not appearing in Reporting Results for Percentage indicators"
Indicator Type = Percent.

The Target displays in My Planned Action and Response Parameters.

![Screen Shot 2018-06-06 at 12.11.38 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256454f56b7191a379ed0c2a50415c46bc21254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba

[2018-06-06 20:48] n1207n commented on #721
The API is now finish and the PR is open for review: https://github.com/unicef/etools-partner-reporting-portal/pull/723

A superuser should call a REST API at `/api/core/task-trigger` with the following GET parameters:
* `task_name`: celery task function python path (required)
* `business_area_code`: Optional argument for PD or Partner sync task

Here are some API payload examples:

[code]

Here a

[2018-06-06 21:01] robertavram commented on #721
@n1207n you Rock 🎸

[2018-06-07 11:12] rkrupinski commented on #181
We've got no unit tests at the time of writing.

Here's an example of how Unicef folks do it:

https://github.com/unicef-polymer/etools-content-panel/blob/master/test/etools-content-panel_test.html

The higher coverage we'd like to add, the more effort it's gonna require (mocking ajax, etc) but testing in general should be pretty straightforward with https://github.com/Polymer/web-component-tester

[2018-06-07 18:16] n1207n opened #724 "Update PD reporting date sync logic for HR"
Apparently, PMP PD sync API only sends due date for HR report type, and this is in alignment with documentation we have in gitbook.

A small change is needed to report generator for handling HR.

[2018-06-07 18:38] sethgold8 commented on #722
working good :)

[2018-06-07 18:38] #722 closed

[2018-06-07 20:51] sethgold8 commented on #715
@robertavram forgot to bring this up on today's standup. Have you had a chance to look at this?

[2018-06-07 21:01] sethgold8 commented on #653
- [ ] When a filter is applied before Generate Upload Template, we don't get any data in any of the rows. Using Micronesia 2017 HR- WASH Cluster Partner. app/FM/cluster-reporting/plan/6/results/draft?page_size=10&page=1&location=19

![Screen Shot 2018-06-07 at 1.59.57 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db97

[2018-06-07 21:40] sethgold8 commented on #712
pushing through

[2018-06-07 21:40] #712 closed

[2018-06-07 21:48] sethgold8 commented on #675
@rkrupinski

- [ ] Needs to work for all indicator list views: CA, CO, PP

Right now its working well for adopted PAI

[2018-06-07 21:50] sethgold8 commented on #713
working good :)

[2018-06-07 21:50] #713 closed

[2018-06-07 21:51] sethgold8 commented on #716
working good :)

[2018-06-07 21:51] #716 closed

[2018-06-07 23:21] sethgold8 commented on #538
- [ ] Once an indicator is submitted, it should not change (unless it is sent back).  Right now IMO or Partner are able to change submitted indicators when they import the template

- [ ] For both Percent Indicators and Ratio Indicators, Google Sheets sometimes perceives a single digit number as a data and then throwing an error. Can we have the format default to no dates for those columns? Am ope

[2018-06-07 23:41] n1207n commented on #714
Digging through OCHA codes, it seems OCHA is returning admin_level 0 if it's country-level location.

Either we should start treating 0 as country admin level in PRP or we should save it as admin_level 1 when importing OCHA indicators.

[2018-06-08 07:15] rkrupinski commented on #675
@sethgold8 This does work for all the lists (in cluster-reporting) but my assumption was that this only makes sense if you're able to edit (given the warning message)

![screen shot 2018-06-08 at 09 14 22](https://user-images.githubusercontent.com/775177/41144206-6781ea44-6afc-11e8-9508-76db517df08e.png)

[2018-06-08 07:15] rkrupinski commented on #714
I'm fine w/ both. @sethgold8 ?

[2018-06-08 17:20] chachra opened #725 "Make sure permissions for all API operations in the backend are apprpriate"
Please see #295 #403 #471 from past.

- [x] Only IMO belonging to a workspace X, Y, Z can create a new or OCHA related response plan for that workspace X,Y,Z and no other workspace.

- [x] Same as above for IMO applying to clusters they are IMO for when creating cluster objectives, cluster activities etc.

- [x] Only an IMO can submit a progress report otherwise partner that it belongs to can (AO

[2018-06-08 22:12] sethgold8 commented on #717
@robertavram can you set up prp environment in ubuntu according to readme file and see if polymer + django are working?

cc @n1207n

[2018-06-08 22:14] sethgold8 commented on #718
pushing through

[2018-06-08 22:14] #718 closed

[2018-06-08 22:18] sethgold8 commented on #720
@dfryta is this on staging? We may have to update k8s secret to include OCHA credentials

[2018-06-08 22:19] n1207n commented on #721
@robertavram Have you taken a look at PR for this issue? Let me know if this is good to go and merge into develop. Then you shall have this API in your environment.

[2018-06-08 22:27] sethgold8 commented on #675
@rkrupinski it's working good as is :)

- [ ] let's not show the warning message for Cluster Activity Indicator list UI since we don't generate reports for CAI

[2018-06-11 11:01] dfryta commented on #653
Location filter is broken. I will look into this.
Second issue - Quantity_Indicator_10 - works good. Please notice that Quantity_Indicator_1 comes from children indicator.

[2018-06-11 15:22] dfryta commented on #653
Done. I've found two more issues - already resolved.

[2018-06-11 15:41] sethgold8 commented on #538
Technical notes: please use the san submit metafield @dfryta

[2018-06-11 15:57] sethgold8 opened #726 "Add Cameroon Manually"

[2018-06-11 17:00] sethgold8 commented on #714
working good :)

[2018-06-11 17:01] #714 closed

[2018-06-11 17:05] sethgold8 commented on #675
working good :)

[2018-06-11 17:05] #675 closed

[2018-06-11 18:26] n1207n commented on #726
Added manually via Django admin

[2018-06-11 18:55] sethgold8 commented on #726
@n1207n lets sync on this quick later. Not getting activities

[2018-06-11 18:56] n1207n commented on #726
Hmm not sure how this ticket is rejected just because the activities are not coming up.

Shouldn't we mention this in that OCHA ticket?

[2018-06-11 18:58] sethgold8 commented on #726
pushing through

[2018-06-11 18:58] #726 closed

[2018-06-11 19:00] sethgold8 opened #727 "If Cluster is imported, we should show the specific 'Type'."

[2018-06-11 23:43] sethgold8 commented on #653
@dfryta

- [ ] For the Unicef Indicators, it should have the same info of the Columns (Cluster, Partner Name, Cluster Objective, Activity, Response Plan)  from its Parent Cluster Indicator. The only thing different should be the disaggregation itself.

[2018-06-12 00:00] n1207n commented on #653
@dfryta,

I notice that `IndicatorsXLSXReader` has `IndicatorLocationData` ORM filter check if self.partner exists: https://github.com/unicef/etools-partner-reporting-portal/blob/develop/django_api/django_api/apps/cluster/import_indicators.py#L59

For UNICEF-only rows, we need to skip this Validation process. Inside that `if` statement, have additional logic for this purpose:
* If `IndicatorReport

[2018-06-12 16:31] sethgold8 commented on #721
@robertavram circling back on this if you've had a chance to look at the PR (#723) for this ticket

[2018-06-12 16:40] robertavram commented on #721
lgtm,
tests are failing though..

[2018-06-12 18:14] n1207n commented on #727
After inspection on the cluster list API, the backend already sends the `imported_type` field along with `title` field.

I think we can hand this ticket to @rkrupinski, and it should be really easy tweak.

** Technical notes **
The backend API for listing clusters in My Profile UI has `imported_type` information if `type` field is `imported`.

Use `imported_type` instead of `title` if type is `imp

[2018-06-12 19:41] dfryta commented on #538
Done (excluding Google Sheets). Please check.

[2018-06-12 20:14] domdinicola commented on #717
Hi guys,

I cannot run fab up :(

probably a dependency library is missing.. can you please double check and support?

  Could not resolve 'security.debian.org'
Fetched 9753 kB in 20s (470 kB/s)
Reading package lists...
W: Failed to fetch http://security.debian.org/debian-security/dists/stretch/updates/InRelease  Could not resolve 'security.debian.org'
W: Some index files failed to download. They

[2018-06-12 20:25] domdinicola commented on #717
second time it did work... weird

[2018-06-12 20:29] n1207n commented on #717
@domdinicola,

It seemed that you had some sort of network issue when docker-compose ran apt-get commands:

[code]

When you tried second time, it may have pulled the apt-get dependencies correctly.

[2018-06-12 23:22] sethgold8 commented on #715
@robertavram circling back on this.

[2018-06-13 06:00] sethgold8 commented on #538
both work good :). Let's discuss potential solutions like error validation message regarding google sheets assuming its date (day/month) at our standup

[2018-06-13 12:01] dfryta commented on #653
Done. @n1207n please check if this is what you have requested.

[2018-06-13 15:33] sethgold8 opened #728 "Google Sheets marking disaggregations for ratio and percent indicators as dates"
- [ ] For both Percent Indicators and Ratio Indicators, Google Sheets sometimes perceives a single digit number as a data and then throwing an error. Can we have the format default to 'Plain Text'? Am open to suggestions in solving this.  Maybe a validation that informs user to use 'Plain Text' for dissaggregation value.

For example, it thinks 5/5 is May 5.
![Screen Shot 2018-06-07 at 11.45.33 AM

[2018-06-13 15:33] #538 closed

[2018-06-13 17:33] robertavram commented on #715
@sethgold8 I checked in with our Technical Architecture team and they're working to fix it.. they managed to reproduce it... I'll update when i know more

[2018-06-13 18:30] robertavram commented on #717
After a bit of debugging ... noticed what was causing polymer to fail on some Ubuntu systems:
https://stackoverflow.com/questions/22475849/node-js-error-enospc/32600959#32600959

https://github.com/facebook/jest/  issues/3254/

Played around with the docker-file and got it to work eventually...

[2018-06-13 22:12] n1207n commented on #721
Pushing this forward. We have a separate ticket to resolve unit test issues at once.

[2018-06-13 22:38] #721 closed

[2018-06-13 22:48] sethgold8 commented on #715
@robertavram great, thanks Rob.

[2018-06-13 22:56] n1207n commented on #653
I think the condition structure looks great. Can we change the ORM for checking parent's partner to `indicator_report__parent__reportable__partner_activities__partner`?

PartnerActivity has direct link to Partner, and project foreignkey in PartnerActivity can be null.

With that change, this should look solid ;)

[2018-06-13 22:58] n1207n commented on #711
Staging environment now uses Django staging setting and staging pypi file.

k8s is updated and is deployed.

[2018-06-13 23:06] #717 closed

[2018-06-14 00:03] sethgold8 commented on #724
working good :)

[2018-06-14 00:04] #711 closed

[2018-06-14 00:04] #724 closed

[2018-06-14 07:53] dfryta commented on #720
@sethgold8 yes it is. You have to setup Environmental Variables: `OCHA_API_USER` and `OCHA_API_PASSWORD`. If they are not provided we do not use basic auth.

https://github.com/unicef/etools-partner-reporting-portal/blob/develop/django_api/django_api/settings/base.py#L460

[2018-06-14 08:06] dfryta commented on #653
Done. Thanks!

[2018-06-14 09:50] dfryta commented on #672
Cameroon 2018 has different response structure then rest of Response Plans. I was able to handle this, but still - list of ID is empty. TBD on meeting.

[2018-06-14 18:19] n1207n commented on #593
Merging this with #592

[2018-06-14 18:19] #593 closed

[2018-06-15 15:18] dfryta commented on #728
Added validation error.

[2018-06-15 18:16] sethgold8 commented on #728
- [ ] I would just make DateTime into two words so it is: Date Time.

![Screen Shot 2018-06-15 at 11.16.08 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455f66b7191a379ee0c2a57415f46bc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b6143

[2018-06-18 13:11] dfryta commented on #720
Sent email conversation.

[2018-06-18 15:28] #725 closed

[2018-06-19 21:22] sethgold8 opened #730 "Special Reports (SR) should never be final"
![Screen Shot 2018-06-19 at 2.23.12 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455fa6b7191a37af110284f5e5d5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19041c95df442e54956a011366aef7f2431.png)

[2018-06-19 21:25] sethgold8 opened #731 "Remove Data Key for IP only"
We do not need to show the Data Key for IP

![Screen Shot 2018-06-19 at 2.24.55 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455fa6b7191a37af1102f4f5a5a5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19141c95df442e

[2018-06-19 21:26] sethgold8 opened #732 "Remove the amendment card if the PD doesn’t have any amendments."
Don't show amendment card if no data

![Screen Shot 2018-06-19 at 2.26.47 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455fa6b7191a37af1102d4f5b585ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df442e54956a

[2018-06-19 21:30] sethgold8 opened #733 "Reporting Requirements are not showing on PD"
- [ ] We are missing Reporting Requirements from PD

![Screen Shot 2018-06-19 at 2.26.47 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455fa6b7191a37af1102d4f5b585ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41

[2018-06-19 21:36] sethgold8 opened #734 "'Target' Column in Export on Annex C Part A should be a #"
- [ ] Target should be a single number that matches that field for the specific indicator.

link app/FM/ip-reporting/pd/4/report/53/view?page=1 for submitted HR

Right now we are showing a formula underlined in red in the image

![Screen Shot 2018-06-19 at 2.35.43 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826

[2018-06-19 21:53] sethgold8 opened #735 "For Dual Reporting, we are adding Extra (Illegal) disaggregation columns added when Exporting Data (XLS)"
When Dual Reporting is occurring and we Export (XLS) QPR or HR, we add extra (illegal) dissaggregation columns.

You can find Dual Reporting in PD reference_number_0 ( https://prp.tivixlabs.com/app/FM/ip-reporting/pd/3/view/reports?page_size=10&page=1 ) as AO in Micronesia 2017.

QPR 2 and HR 2 have the data filled out so you can use those.

Examples shown below

- [ ] For HR if you export XLS, we

[2018-06-19 22:12] sethgold8 opened #736 "Report Status and Report Type Filters are not working in Progress Reports. PD status filter not working in indicators Page"
- [ ]
![Screen Shot 2018-06-19 at 3.17.13 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455fa6b7191a37bf1132c4f5e5c5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19141c95df442e54953a2143f6ae47f2431.png)

- [ ]
 ![S

[2018-06-19 22:14] n1207n commented on #730
This is more of frontend ticket. Just don't use is_final flag on polymer

[2018-06-19 22:14] n1207n commented on #732
This is also frontend issue. Just don't show UI if amendment is empty.

[2018-06-19 23:38] n1207n opened #737 "Update report generator logic to handle HR progress report differently"
We need new Indicator reports for HR progress report to be handled differently based on indicator type (UNICEF HF or Cluster).

Right now, the report generator bundles new Indicator reports for all LLO indicators from PD into one HR progress report. This happens for each HR reporting requirement from PMP synced data.

However, LLO indicator that is marked as cluster indicator, should not use PMP H

[2018-06-20 00:00] n1207n commented on #720
Staging k8s is now using OCHA credentials in Django settings and I can confirm. We can close this.

[2018-06-20 11:10] rkrupinski commented on #736
After [a couple of changes](https://github.com/unicef/etools-partner-reporting-portal/commit/83282697e582e347dd3e1e8f73942c3cf54b2660), I'm unable to reproduce the bug. Let me know if you ran into any issues.

[2018-06-20 17:10] sethgold8 opened #738 "When adding a new Cluster Activity, unable to it"
- When adding Cluster Activity, unable to save it. We get a 500 error

![Screen Shot 2018-06-20 at 10.10.01 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f36b7191a379ef0c2a51415f4fbc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b614

[2018-06-20 20:07] n1207n commented on #733
Turns out ProgrammeDocumentSerializer already includes `reporting_periods` field, but had to add `report_type` for each `reporting_periods` item.

@rkrupinski,

**Technical notes for frontend**
There is a field called `reporting_periods` at ProgrammeDocument API data to implement above UI image.

Before iterating, create 3 sub lists from `reporting_periods` field by report_type (QPR, HR, and SR).

[2018-06-20 23:30] sethgold8 opened #739 "Emails sent when when a report is sent back, submitted, accepted"
IP

1. Sent back - Email of the person submitting the report or authorized officer assigned to the PCA. Could be the same person.
2. Submitted- authorized officers and/or the focal points
3. Accepted - Email of the person submitting the report and authorized officer assigned to the PCA. Could be the same person.

Cluster

1. Sent back - Partner or Imo (whoever submitted the indicator report)
2. Su

[2018-06-21 09:18] dfryta commented on #672
Sean will check Cameroon data. Project preview is fixed. Ticket closed.

[2018-06-21 09:19] dfryta commented on #701
We have added external_ocha_id to request and we did backend filtering. Ticket closed.

[2018-06-21 17:32] sethgold8 commented on #738
working good :)

[2018-06-21 17:33] #738 closed

[2018-06-21 17:36] sethgold8 commented on #736
working good :)

[2018-06-21 17:36] #736 closed

[2018-06-21 17:45] sethgold8 commented on #734
working good :)

[2018-06-21 17:45] #734 closed

[2018-06-21 17:46] sethgold8 commented on #733
working good :)

[2018-06-21 17:46] #733 closed

[2018-06-21 17:49] sethgold8 commented on #732
Not sure if this is a fake data issue, but I am seeing Amendments Component with no data for programme_document_1 in Micronesia 2017 app/FM/ip-reporting/pd/4/view/details

![Screen Shot 2018-06-21 at 10.47.41 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f26b7191a379ef0c2f5641

[2018-06-21 17:57] sethgold8 commented on #731
working good :)

[2018-06-21 17:57] #731 closed

[2018-06-21 23:42] sethgold8 commented on #730
working good :)

[2018-06-21 23:42] #730 closed

[2018-06-21 23:42] #720 closed

[2018-06-21 23:48] sethgold8 commented on #653
working good :)

[2018-06-21 23:48] #653 closed

[2018-06-21 23:53] sethgold8 commented on #732
working good :)

[2018-06-21 23:54] #732 closed

[2018-06-22 00:31] sethgold8 opened #740 "Date for Amendments should be DD MM YYY"
- [ ] Date for Amendments should be DD MM YYY. It should match PMP

![Screen Shot 2018-06-21 at 5.31.27 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f26b7191a37df1112a4f5d585ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4

[2018-06-22 00:34] sethgold8 opened #741 "Expand Time Window Interval when filling out reports"
When partner is typing, the autosave happens to quickly and then removes some text. We need to expand the time window interval.

[2018-06-22 00:35] sethgold8 opened #742 "When trying to upload an attachment in SR, replace 'Change' word with 'Upload'"
![Screen Shot 2018-06-21 at 5.34.34 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f26b7191a37df1112f4f5c5b5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19141c95df442e74f52a3103265e0742431.png)

[2018-06-22 00:37] sethgold8 opened #743 "In PD details, Remove '$' form the: $ cash transfer (%) column"
- In case the PD is in something different from dollars, we need to remove the '$' in $ Cash transfer (%) column

![Screen Shot 2018-06-21 at 5.37.50 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f26b7191a37df1112c4f5a5f5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11

[2018-06-22 10:58] rkrupinski commented on #742
1. The text is a part of an [external component](https://github.com/unicef-polymer/etools-file)
2. Normally it reads "Upload" and only shows "Change / Delete" buttons once there's an actual attachment. On the screenshot a data issue demonstrates itself where we actually have an attachment, but it's "empty":

[code]

cc @n1207n

[2018-06-22 11:02] rkrupinski commented on #740
We don't do any date formatting on the front-end. Whatever is returned from django, gets rendered.

cc @n1207n

[2018-06-22 17:43] sethgold8 commented on #640
Looks great.

Only item is if I select a project from OCHA for a specific Partner, and then change the partner, It allows me to still save that project.

For example, I selected Action CONTRE LA FAIM, and choose ' Strengthening Nutrition Surveillance for appropriate emergency response.' Then I change the partner to ACTED, and was able to save ' Strengthening Nutrition Surveillance for appropriate

[2018-06-22 17:43] #701 closed

[2018-06-22 17:43] sethgold8 commented on #743
working good :)

[2018-06-22 17:44] #743 closed

[2018-06-22 20:54] n1207n commented on #742
@rkrupinski,

The API response should be actually just `{ "path": null, "size": null, "file_name": null }`, without the list, because there can be only one attachment for ProgressReport.

Also, the `{ "path": null, "size": null, "file_name": null }` response tells you that we have an empty attachment, not as the empty object response.

I'll update the API response without a list, and polymer shoul

[2018-06-22 22:08] n1207n commented on #742
I've updated the API serializer, so it should no longer be list format.

[2018-06-22 22:40] sethgold8 opened #745 "Allow for user to enter decimal data when reporting on indicators"
_Update disaggregation table cell to allow enter decimal in enter data model for both quantity and ratio type indicators

[2018-06-23 00:06] sethgold8 opened #746 "In IP Dual Reporting, indicator report should only have UNICEF only and/or dual reporting locations"
![Screen Shot 2018-06-22 at 5.07.18 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f16b7191a37df1122c4f5e575ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df442e64c57a1133466e6742431.png)

[2018-06-23 00:09] sethgold8 opened #747 "In IP Dual Reporting, we generate report with no Indicator"
- [ ] There are no indicators for this HR report in dual reporting but a report was generated

![Screen Shot 2018-06-22 at 4.58.51 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f16b7191a37cf117234f5a5e5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb

[2018-06-25 07:41] rkrupinski commented on #742
@n1207n There's one more place you need to update:

Uploading an attachment (`PUT`) returns a collection.

[2018-06-25 15:17] KKaselkar opened #748 "Display the latest or next due reports (QPR)"
System doesn’t display the latest or next due report for QPR. In the below example it displays the past 2 QPR’s but doesn’t display the next latest/due QPR, I did submit one of the QPR hence it shows accepted:

[2018-06-25 15:18] KKaselkar commented on #748
![image](https://user-images.githubusercontent.com/32198614/41859088-650d09b8-7869-11e8-9037-8bdf54e685e0.png)

![image](https://user-images.githubusercontent.com/32198614/41859099-6949aa2c-7869-11e8-8655-3f2e382f55f1.png)

[2018-06-26 00:03] sethgold8 opened #749 "Default value must not be 0 and must be changed to blank in the enter data form."
For both, IP/Cluster when entering disaggregation date, can we set the default to blank as opposed to 0

![Screen Shot 2018-06-25 at 5.02.52 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f66b7191a37df112294f5a5d5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29

[2018-06-26 07:32] rkrupinski commented on #749
So it turns out that there already is a logic in place to default empty values to `"-"`. We can't default zeros to `"-"` since zero is a perfectly valid value. The "empty" reports being generated on staging all have totals explicitly set to `0` which effectively prevents `"-"` from being displayed:

![totals](https://user-images.githubusercontent.com/775177/41895979-b86d76b4-7923-11e8-9efa-822046e

[2018-06-26 19:22] dfryta commented on #735
I've updated main excel header function. Please check @sethgold8 .

[2018-06-26 19:51] n1207n commented on #740
It turned out that date data in amendment JSON is not formatted to our standards. So we may have to change this at PD sync or something.

[2018-06-26 20:54] n1207n commented on #740
Fixed directly. We have to resync PDs so that amendment dates will be formatted correctly before saving.

[2018-06-26 21:00] n1207n commented on #749
Errr I personally don't want to poke total of totals value to be null, given the value is relied on many backend logic.

Could we introduce a hardcoded condition where if the key is "()" and `c` value is zero then show empty placeholder instead?

cc @rkrupinski

[2018-06-27 00:39] sethgold8 commented on #748
@KKaselkar lets remove. We do not generate reports until they are due (July 25). It's not July yet, so has not yet been generated

[2018-06-27 00:40] sethgold8 commented on #749
Spoke with @KKaselkar and we decided not to do this today as it does not add enough value. Closing ticket

[2018-06-27 00:40] #749 closed

[2018-06-27 00:49] sethgold8 commented on #735
@dfryta I don't see any with columns with 3 disaggregations so that is good. Can we make so no headers are duplicated though?

![Screen Shot 2018-06-26 at 5.47.01 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f56b7191a37df1162c4f5f5e5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777

[2018-06-27 00:50] sethgold8 commented on #672
@dfryta has Sean given an update regarding Cameroon?

[2018-06-27 00:51] sethgold8 commented on #737
tested on Friday, good :)

[2018-06-27 00:51] #737 closed

[2018-06-27 00:52] sethgold8 opened #750 "Remove the Reports Link for Cluster Activity Indicators and also the Filter"
Let's leave this as blocked since waiting for confirmation from Gavin

Since we do not generate reports for CLuster Activity Indicators, we should we remove

 - [ ]

1. Reports Link in Response Parameters for Cluster Activity Indicators

![Screen Shot 2018-06-26 at 5.53.04 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d4

[2018-06-27 09:33] rkrupinski commented on #750
@n1207n How can I filter out cluster activity indicators from `/api/cluster/<response_plan_id>/cluster-reportable-simple-list/`? Adding `content_type_key` would help too.

[2018-06-27 15:39] sethgold8 commented on #735
@sethgold8 look for duplicated data both with columsn

[2018-06-27 20:58] sethgold8 commented on #745
working :)

[2018-06-27 20:58] #745 closed

[2018-06-27 21:02] sethgold8 commented on #742
Am still seeing 'Change' cc @rkrupinski @n1207n

![Screen Shot 2018-06-27 at 2.00.56 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f46b7191a37af1122b4f5a595ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19041c95d

[2018-06-27 21:03] sethgold8 commented on #741
working good :)

[2018-06-27 21:04] #741 closed

[2018-06-27 23:00] sethgold8 opened #751 "Add Active Flag for Authorized Officer for PD Sync API"
One of the requirements in ID Management is to "Mark any authorized officer as inactive in PMP will change the status in PRP IP".

Can you add Active Flag for AO

[2018-06-28 06:29] rkrupinski commented on #742
You will keep seeing "change" when there's an actual attachment. "Upload" alone only appears when the component renders "empty" or upon clicking "delete". We can fork / submit a pull request to [etools-file](https://github.com/unicef-polymer/etools-file) to change that but I'd rather advise against it since this behaviour is pretty consistent.

[2018-06-28 17:36] #748 closed

[2018-06-28 18:41] sethgold8 commented on #640
working good :)

[2018-06-28 18:41] #640 closed

[2018-06-29 12:23] dfryta commented on #735
@sethgold8 @n1207n  I've dig into this and our report generator is OK. Problem is in fake data - it has different disaggregation in same workspace (https://prp.tivixlabs.com/api/admin/indicator/disaggregation/). As you can see there is non-duplicated data for each of Workspace, but we also have disaggrgations with empty workspace that Micronesia is using:
![Select_disaggregation_to_change___PRP.pn

[2018-06-29 13:26] KKaselkar opened #752 "Values missing on PRP overview page, need to be imported from PMP"
IP PRP - > https://etools-test.unicef.org/app/IRQ/ip-reporting/overview/
Chrome browser
Country - > Iraq
Vendor Name - > AGENCY FOR TECHNICAL & EMERGENCY DEV.

Issue: On overview page the below highlighted values are missing:

[2018-06-29 13:31] KKaselkar commented on #752
![image](https://user-images.githubusercontent.com/32198614/42094883-11ff56ea-7b7f-11e8-910e-249c1a45808c.png)

PMP Image:
![image](https://user-images.githubusercontent.com/32198614/42094910-21f31a96-7b7f-11e8-9b87-912e3c398c86.png)

[2018-06-29 13:45] KKaselkar opened #753 "HR displays as final report in PRP"
etools-test environment
chrome browser
Partner: AGENCY FOR TECHNICAL & EMERGENCY DEV.

HR report displays final report in PRP

[2018-06-29 13:46] KKaselkar commented on #753
![image](https://user-images.githubusercontent.com/32198614/42095676-4b219d46-7b81-11e8-92df-22ededf5e95f.png)

[2018-06-29 13:52] KKaselkar opened #754 "Error when clicked on PDF link on indicators page"
IP PRP - > https://etools-test.unicef.org/
Chrome browser
Country - > Iraq
Vendor Name - > AGENCY FOR TECHNICAL & EMERGENCY DEV.

Error when clicked on PDF link on indicators page

[2018-06-29 13:56] KKaselkar commented on #754
@robertavram  as per Seth this has been fixed in tivixlabs, so need to be redeployed in UNICEF environment

[2018-06-29 14:19] KKaselkar opened #755 "Error when clicked on PDF link on reports tab under programme documents"
IP PRP - > https://etools-test.unicef.org/
Chrome browser
Country - > Iraq
Vendor Name - > AGENCY FOR TECHNICAL & EMERGENCY DEV.

Error when clicked on PDF link on reports tab under programme documents

[2018-06-29 14:21] KKaselkar commented on #755
@robertavram as per Seth this is fixed in tivixlabs , so we need to redeploy the code in UNICEF test environment
![image](https://user-images.githubusercontent.com/32198614/42097431-1ffdea16-7b86-11e8-8f57-942e5f2a50a5.png)
![image](https://user-images.githubusercontent.com/32198614/42097439-240364d8-7b86-11e8-88e6-e712cbae4eb6.png)

[2018-06-29 15:31] KKaselkar opened #757 "Incorrect amendment date format in PRP"
IP PRP - > https://etools-test.unicef.org/
Chrome browser
Country - > Iraq
Vendor Name - > AGENCY FOR TECHNICAL & EMERGENCY DEV.

Amendment date format is incorrect in PRP

[2018-06-29 15:31] KKaselkar commented on #757
![image](https://user-images.githubusercontent.com/32198614/42101073-f32f8210-7b8f-11e8-9ae6-64c7de87013d.png)

[2018-06-29 15:34] KKaselkar commented on #740
@robertavram could you please redeploy the code so we can check in UNICEF test environment

[2018-06-29 15:34] KKaselkar commented on #757
closing as there is another ticket for this #740

[2018-06-29 15:34] #757 closed

[2018-06-29 15:37] KKaselkar opened #758 "Incorrect sequence of list of indicators in PRP"
IP PRP - > https://etools-test.unicef.org/
Chrome browser
Country - > Iraq
Vendor Name - > AGENCY FOR TECHNICAL & EMERGENCY DEV

Sequence of indicators is different in PMP and PRP.
PRP must align or show the same sequence of indicators as displayed in PMP.

[2018-06-29 15:38] KKaselkar commented on #758
PMP screenshot:
![image](https://user-images.githubusercontent.com/32198614/42101352-df8d7c48-7b90-11e8-9568-fd2221fcc64a.png)

PRP screenshot:
![image](https://user-images.githubusercontent.com/32198614/42101364-e98f6f58-7b90-11e8-91c6-09bcb600397d.png)

[2018-06-29 15:39] KKaselkar opened #759 "Value of target doesnt display in PRP"
IP PRP - > https://etools-test.unicef.org/
Chrome browser
Country - > Iraq
Vendor Name - > AGENCY FOR TECHNICAL & EMERGENCY DEV

Value of target is not displayed on any of the indicators except cluster indicators and system still calculates the progress of report against the target, Target values do not appear anywhere on the indicators.

[2018-06-29 15:41] KKaselkar commented on #759
PMP screenshot:
![image](https://user-images.githubusercontent.com/32198614/42101487-32350f6a-7b91-11e8-931b-f3a94fa018d7.png)

PRP screenshot:

![image](https://user-images.githubusercontent.com/32198614/42101507-4267be28-7b91-11e8-9c60-c3d45a328a7e.png)

PMP progress page:

![image](https://user-images.githubusercontent.com/32198614/42101524-4ea72c32-7b91-11e8-83ef-3f9ebb8f5ccf.png)

[2018-06-29 16:50] sethgold8 commented on #742
thanks @rkrupinski all good and closing this ticket

[2018-06-29 16:50] #742 closed

[2018-06-29 20:56] sethgold8 commented on #753
@KKaselkar HR has final reports

[2018-06-29 23:49] sethgold8 commented on #752
@robertavram can you check to see if we are sending Basis for Risk Rating properly? We are receiving it for ( ACTION CONTRE LA FAIM ACF FRANCE) in Iraq, but not other partners.

All other fields we are getting proper

![Screen Shot 2018-06-29 at 4.47.59 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b

[2018-07-04 13:37] KKaselkar opened #760 "etools test integration with OCHA systems"
Chrome browser, all workspaces, etools test environment.

User not able to select response plans or add projects from OCHA on etools test environment.

[2018-07-04 13:55] KKaselkar commented on #760
![image](https://user-images.githubusercontent.com/32198614/42281040-6a7637cc-7f70-11e8-8e0a-51c8b61a8dd8.png)

[2018-07-04 14:30] KKaselkar opened #761 "Baseline for Partner activity indicators - IMO role"
Chrome browser, Iraq workspace, etools test environment.

As an IMO I added partner activity indicator from a cluster activity indicator created by the same IMO.
After clicking on save system gave me a message to add locations so this partner activity indicator can generate reports.
When clicked on edit to add locations in partner activity indicator system allows me to add a target value but doesn

[2018-07-04 14:31] KKaselkar commented on #761
![image](https://user-images.githubusercontent.com/32198614/42282727-72798fb4-7f75-11e8-90e8-79110f521418.png)

[2018-07-04 14:37] KKaselkar opened #762 "Project start and end date, Partner activity start and end date, project indicators start date doesnt match"
Chrome browser, Iraq workspace, IMO role, etools test environment

Created a project as an IMO and added project indicators

Project start and end date is 1st Apr 2018 to 31 Dec 2018
Project indicators start date is before the project start date. There is no validation of dates in the system

[2018-07-04 14:39] KKaselkar commented on #762
![image](https://user-images.githubusercontent.com/32198614/42283012-3b60313a-7f76-11e8-8599-7b13cdd4d6c3.png)
![image](https://user-images.githubusercontent.com/32198614/42283105-79fc4df2-7f76-11e8-87de-d8f2225beac2.png)

[2018-07-04 14:42] KKaselkar commented on #762
Even the Partner activity for that project when created with different dates which are not within the project dates, system doesnt validate the dates
![image](https://user-images.githubusercontent.com/32198614/42283271-f459a586-7f76-11e8-8623-81d0d10d3efa.png)

[2018-07-04 14:55] KKaselkar opened #763 "Cluster objective indicator report submission by IMO"
Chrome browser, etools test environment, IMO role

IMO submitted a cluster objective indicator report.
"The IMO will be informed of this submission and you will not be able to make any changes on this report unless it is sent back to you. Are you sure you’d like to Submit this report?"

The same IMO can see the submitted report in submitted tab and click on the three dots and send back to the part

[2018-07-04 14:56] KKaselkar commented on #763
![image](https://user-images.githubusercontent.com/32198614/42283910-e52d8c42-7f78-11e8-9e99-db7e4a9235ae.png)

[2018-07-04 15:13] KKaselkar opened #764 "Export of project indicator report & cluster objective indicator report gives error"
Chrome browser, etools test environment, Iraq workspace,

Partner role gets an error when clicked on the export button for the project indicator report and cluster objective indicator report is submitted.

[2018-07-04 15:14] KKaselkar commented on #764
![image](https://user-images.githubusercontent.com/32198614/42284713-5c39b142-7f7b-11e8-9cf4-899c75b155b3.png)
![image](https://user-images.githubusercontent.com/32198614/42284756-77b636a2-7f7b-11e8-873f-cbd7c5f06e2d.png)

[2018-07-04 15:16] KKaselkar commented on #764
![image](https://user-images.githubusercontent.com/32198614/42284825-a9e455dc-7f7b-11e8-863e-7162f5e98dfe.png)

[2018-07-04 15:20] KKaselkar opened #765 "Data Key error"
On both PRP IP and PRP cluster the data key must display the actual value of the labels entered and not the term "data key - [ ]"

- [x] Change name from 'Data Key' to' Label'. For both IP and Cluster

- [x] We need to re-add Label for percent and ratio indicators with IP #frontend

[2018-07-04 15:20] KKaselkar commented on #765
![image](https://user-images.githubusercontent.com/32198614/42285038-4bccd6d0-7f7c-11e8-904f-c04a497cddb4.png)

[2018-07-04 15:21] KKaselkar commented on #765
![image](https://user-images.githubusercontent.com/32198614/42285064-5ef8d27c-7f7c-11e8-85dc-8c3acc43e357.png)

[2018-07-04 15:41] KKaselkar commented on #761
After Partner sending the message to add baseline and target
![image](https://user-images.githubusercontent.com/32198614/42285932-0de2578e-7f7f-11e8-9f91-d1b59009179a.png)

[2018-07-04 15:57] KKaselkar opened #766 "Change the error message while adding same partner activity"
Chrome browser, Iraq workspace, etools test environment

Partner gets an error if tries to add the same activity for the same project, please change this error message to a user friendly error message.

[2018-07-04 15:58] KKaselkar commented on #766
![image](https://user-images.githubusercontent.com/32198614/42286629-8f02137a-7f81-11e8-9927-01e14f24f7e4.png)

[2018-07-05 17:15] KKaselkar opened #767 "PD reports sync issue"
Chrome browser, etools test environment , Iraq workspace

created a PD in PMP demo environment https://etools-demo.unicef.org/pmp/interventions/395/details

, PD did appear in IP PRP but the reports dont appear in IP PRP

Aldo it takes 15-20 mins for the cluster indicators frequency requirements (for e.g. weekly or monthly) to appear on the reporting requirements card in PMP

[2018-07-05 17:38] robertavram commented on #767
@ Silin we're getting an error on the PD sync. here's the trace:
[code]

[2018-07-05 17:39] robertavram commented on #760
Reached out to Dariusz... when he has time.. we'll keep this ticket updated.

[2018-07-05 17:44] robertavram commented on #759
There was an update in the models, the serializers are returning the old target and baseline values... @n1207n I'll update the values.. but they will be json (the same structure you have currently in PRP) there will need to be an actiion from you after we update the serializers...

[2018-07-05 19:45] sethgold8 commented on #766
@KKaselkar update with validation message please

[2018-07-05 20:04] sethgold8 commented on #764
working on Tivix envornment

[2018-07-05 20:07] sethgold8 commented on #763
@KKaselkar please include the error message you'd like us to share

[2018-07-05 21:53] n1207n commented on #767
Are there any 2 LLO indicators from PD using same cluster activity indicator ID?

The only case letting this to happen is if you use same cluster indicator ID twice in PD indicators, which is illegal state in PRP. Dual reporting is meant to handle 1 parent and 1 child Indicator report relationship for data splitting purposes. In the meantime, we'll add a validation where the report generator would

[2018-07-05 22:45] sethgold8 commented on #761
@KKaselkar I can go over this on our call on Monday.

When a partner adopts an indicator, they only add the location and target https://unicef.gitbook.io/prp/product-end-user-documentation/cluster-reporting/cluster-indicators

![Screen Shot 2018-07-05 at 3.22.40 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db97882687

[2018-07-05 22:48] sethgold8 commented on #753
HR has final reports. Closing this ticket

[2018-07-05 22:48] #753 closed

[2018-07-06 15:30] KKaselkar opened #769 "In need must not be displayed in IP PRP"
Chrome browser, Iraq workspace, Indicators page, etools-test environment

In need must not be displays on IP PRP.
In need is only used in Cluster PRP.

[2018-07-06 15:31] KKaselkar commented on #769
![image](https://user-images.githubusercontent.com/32198614/42387384-1f204b22-8110-11e8-9ba3-f4eb2cef335f.png)

[2018-07-06 16:10] KKaselkar opened #770 "Remove Labels for quantity calculation method"
We were only adding labels to percentage and ratio calculation and not to quantity calculation method.
Can you please remove the label for quantity calculation method.

[2018-07-06 16:23] KKaselkar opened #771 "Remove measurement specifications"
Can you please remove the measurement specifications from the window while adding an indicator.
This was not in the requirement or mockups which we had seen earlier.
https://projects.invisionapp.com/share/7UD47VAVE#/screens/249489155

[2018-07-06 16:24] KKaselkar commented on #771
![image](https://user-images.githubusercontent.com/32198614/42389695-83f7a642-8117-11e8-80b9-ddc3ba227745.png)

[2018-07-06 18:15] KKaselkar commented on #767
@n1207n just wanted to provide you the screenshot of PMP which displays all the indicators added in the PD, you can see there are 2 different cluster indicators and 3 UNICEF indicators.
![image](https://user-images.githubusercontent.com/32198614/42394113-f85aee18-8126-11e8-8b72-6eab3809a656.png)

[2018-07-06 18:47] KKaselkar opened #773 "Remove start date in case of custom specific dates"
Chrome browser, etools test environment, Iraq workspace

Please remove the start date of reporting period when selected custom specific dates for frequency of reporting for all types of indicators in cluster. the below example is for cluster activity indicator.

[2018-07-06 18:47] KKaselkar commented on #773
![image](https://user-images.githubusercontent.com/32198614/42395319-7f74203c-812b-11e8-98fb-352b9a22a3d6.png)

[2018-07-06 22:16] sethgold8 commented on #773
@KKaselkar what is the purpose of removing it?

[2018-07-06 22:18] sethgold8 commented on #770
@KKaselkar Does this pertain to Cluster too?If so, has the whole UNICEF and Cluster team signed off on this?

[2018-07-06 22:22] sethgold8 commented on #769
@KKaselkar can you get sign off on this from UNICEF team> I do not see it in the specs, but assume it was added because someone asked. Please get sign off from the UNICEF team and let us know.

[2018-07-09 12:54] robertavram commented on #771
@KKaselkar I asked repeatedly in multiple meetings.. please check:
https://app.clubhouse.io/unicefetools/story/5027/align-pmp-indicators-labels-and-indicator-types-to-new-prp-style#activity-6010

This is wasting everyone's time. Please confirm that we need to remove this.
@ewheeler for CC

[2018-07-09 14:18] robertavram commented on #755
@KKaselkar you said you will retest this... please update this ticket... bug fixing should be the highest priority right now... please make sure cards are updated asap

[2018-07-09 16:08] KKaselkar commented on #760
@robertavram  this is on high priority right now , can you provide  an update on this?

[2018-07-09 18:08] robertavram commented on #759
@n1207n Targets and baseline fields were added, they are now json and resemble  PRP models. Also added nominator_label / denominator_labels. delivered in etools-demo to have for reference. you may need to update the pd synchronizer to use these values.

[2018-07-09 18:10] robertavram commented on #752
added from PMP side.. @sethgold8  should we leave the ticket here until someone from your side confirms?

[2018-07-09 18:14] robertavram commented on #755
I believe this has something to do with the reporting period dates being saved before the fix was pushed... if on newly added pds it does not happen, please close this ticket (and 754) as we're not looking to write migrations

[2018-07-09 18:23] KKaselkar opened #774 "Dual reporting"
Chrome browser, etools test environment, Iraq workspace.

Created cluster activity reports with frequency of reporting as weekly (1st June 2018 is the start date),

Cluster indicator appears in PMP in PD.
Created HR reports in PMP for the same PD with reporting dates as 2 June to 8 June.

IP PRP displays the reports only for UNICEF indicators and not for cluster indicators.
system doesn't display

[2018-07-09 19:12] robertavram commented on #760
@KKaselkar I was never under the impression that this was no longer high priority... We discovered the bug.. working to fix it.

[2018-07-09 20:09] robertavram commented on #760
Done.

[2018-07-09 22:47] sethgold8 commented on #774
@KKaselkar how come you did not attach PD reference #,  photos, or links? This wastes time.  You need to be specific please.

[2018-07-09 23:57] sethgold8 commented on #767
You can't use cluster activity indicator more then once in 1 PD since this is illegal in PRP for determining dual reporting link. This is the reason for report generator to cause error that Rob posted above.  For example, you can only add Number of stationary indicator once in this PD cc @KKaselkar @robertavram

![Screen Shot 2018-07-09 at 4.54.19 PM.png](https://waffleio-direct-uploads-production

[2018-07-10 00:06] sethgold8 commented on #761
@KKaselkar when partner adopts a Partner Activity Indicator (PAI)  from Cluster Actvity Indicator...when they add a location for PAI, the location needs to match the ones from Cluster Activity Indicator. If not, it only pertains that specific partner activity. Hence Cluster cannot push down the update on the  baseline and target for that location.

The 'Message to IMO' is for the locations set by

[2018-07-10 00:14] sethgold8 commented on #773
Custom Specific date relies on 'Start Date' in the indicator. Each date of Date of Report is used  to determine End date.

- [ ] Can we change 'Date of Report'  to 'Due date of report'

[2018-07-10 13:31] KKaselkar commented on #761
@sethgold8 are you looking into this issue?

[2018-07-10 23:14] sethgold8 commented on #765
@momimomo

Label (Data Key) can be found in Cluster
- [ ] Reporting Results in Cluster

![Screen Shot 2018-07-10 at 3.36.05 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246455f36b7191a37bf1112d4f5f5a5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f

[2018-07-10 23:54] sethgold8 commented on #752
@robertavram   We confirm PMP PD sync returns Type of Assessment and Last assessment date. We can combine these two fields to fill: Basis for Risk Rating. Will push to delivered when live  cc @n1207n

[2018-07-10 23:54] sethgold8 opened #775 "Update report generator for HR Report"
Use Start, End date, and Due Date for reporting requirement

[2018-07-11 00:00] sethgold8 commented on #760
@robertavram , Kunal mentioned this was still broken. If he's wrong, let's close this out. If not can you schedule a call with @dfryta ?

[2018-07-11 00:06] sethgold8 commented on #760
@KKaselkar just tested.

Looks like its working. If you don't think it is, please let me know links and workspaces (all details needed). Keep in mind OCHA data is not 100% there. Sometimes the integration works, but data is not there from OCHA.

We can discuss on our call Wed

![Screen Shot 2018-07-10 at 5.02.11 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df8

[2018-07-11 09:51] momimomo commented on #765
Thanks!

[2018-07-11 13:08] robertavram commented on #760
@sethgold8 @n1207n there is an issue with the threaded call, sometimes it works sometimes it doesn't...
[code]

that's the error being thrown...

[2018-07-11 17:42] robertavram opened #776 "Locations Import"
Cartodb location import fails.
I think the code has not been updated to use the new carto endpoints. You can reference eTools location import code.

We are also working on splitting a location library out of our code.. it shouldn't take much longer if you wanted to use that...

[2018-07-11 19:59] sethgold8 commented on #760
@robertavram, @dfryta mentioned the environment is not using uwsgi. Instead is using django run server which is the issue here. Run server can only have one thread running while asyncio needs to work in multi threading.

[2018-07-11 20:15] robertavram commented on #760
I made it work with uwsgi.. for some reason now it's just inconsistent...

[2018-07-11 20:15] robertavram commented on #760
@sethgold8 @dfryta sometimes it works...sometimes it doesn't

[2018-07-11 20:20] robertavram commented on #760
[code]

[2018-07-11 20:42] sethgold8 commented on #761
@sethgold8

- [ ] we should change the text above in 'Send Message to IMO'

- [ ] why can't the partner add Baseline, In- Need when adding a location specific to them

[2018-07-11 21:08] KKaselkar commented on #766
Error message to be updated:
Please note that below activity has already been added to this project

[2018-07-11 21:14] KKaselkar commented on #763
Message in the pop up to be updated when IMO submits the report:
Are you sure you’d like to Submit this report? (Cancel / Continue)

[2018-07-11 21:47] n1207n opened #777 "ID management epic"
This ticket is track ID management related preparation and feature tasks.

[2018-07-11 21:50] n1207n opened #778 "DB model clean-ups and refresh for ID management"
This is to clear up all migration files to consolidate per each app. This is also to incorporate new model changes before making new initial migrations.

This ticket is child of #777

**Technical notes**
- [x] Delete all Django migration files
- [x] Create PRPRole model and create relationship to User
- [x] Deprecate groups in User model
- [x] Delete imo_clusters in User model
- [x] Update Fake da

[2018-07-11 23:36] sethgold8 commented on #760
@robertavram We think 2 potential solutions

* configure uwsgi to work with asyncio
* make it not async (last resort option)

@dfryta

[2018-07-11 23:44] sethgold8 commented on #751
@robertavram we think this was implemented by you? If so, can you update us + all tickets that might have been worked on so we know.

[2018-07-11 23:49] sethgold8 commented on #758
@KKaselkar this requires significant amount of work. Not in requirements so will close it.

[2018-07-12 00:00] sethgold8 commented on #761
@KKaselkar Baseline and In-Need are synchronized to the Cluster Activity. That's why we don't allow partner to add them when adding a new location.

[2018-07-12 00:11] sethgold8 commented on #761
@KKaselkar suggest copy for the message to IMO. Remember for location the partner adds that is not adopted from the CAI, the IMO will not be able to update baseline and In Need

[2018-07-12 00:44] chachra opened #779 "Scaffold new React service"
This ticket is child of #777

Branch off 777-* branch for this task.

Please use create react app for it. Call this new service "id_management_frontend".

See Dockerfile here and can copy that or any other things as necessary: https://github.com/unicef/un-partner-portal/tree/develop/frontend

Change routes in the nginx conf and add a /id-management/ route that goes to this new service (above the p

[2018-07-12 14:37] sethgold8 commented on #760
@n1207n can you add the parameters

[2018-07-12 14:42] sethgold8 commented on #760
asyncio 10 --greenlet

[2018-07-12 15:17] KKaselkar opened #780 "Validation to be added in PMP for duplicate cluster indicator"
User must not be able to select the same cluster indicator in a PD in PMP, if this cluster indicator was already selected in a PD output.

[2018-07-12 15:54] momimomo commented on #765
Changed those labels - let me know if I should look more into Percent and Radio indicators Data Key Label being hooked up properly - if there are steps to reproduce on staging please provide them as I'll be able to look if there is response from API or is it only frontend.

[2018-07-12 16:35] momimomo commented on #765
All should be done and on staging!

[2018-07-12 20:45] n1207n opened #783 "Fix backend components related to deprecated Group objects and imo_clusters logic"
This is child of #777.

Update any backend code (API views, API serializers, celery tasks, python functions, etc) that deals with User model's imo_clusters M2M link and Group permissions.

[2018-07-12 22:10] sethgold8 commented on #740
confirmed :)

[2018-07-12 22:10] #740 closed

[2018-07-12 22:10] sethgold8 commented on #735
confirmed

[2018-07-12 22:11] #735 closed

[2018-07-12 22:15] sethgold8 commented on #747
confirmed :)

[2018-07-12 22:15] #747 closed

[2018-07-12 22:16] sethgold8 commented on #746
working good :)

[2018-07-12 22:16] #746 closed

[2018-07-12 22:19] sethgold8 commented on #775
@n1207n make sure if Reporting Requirement has no start/end date, we skip it.

[2018-07-12 22:31] sethgold8 commented on #769
confirmed . :)

[2018-07-12 22:32] #769 closed

[2018-07-12 22:32] sethgold8 commented on #773
confirmed :)

[2018-07-12 22:32] #773 closed

[2018-07-12 22:38] #778 closed

[2018-07-12 22:38] #779 closed

[2018-07-12 22:41] sethgold8 commented on #767
discussed during call, #closing

[2018-07-12 22:41] #767 closed

[2018-07-12 22:42] sethgold8 commented on #763
@momimomo if IMO is submitting an Indicator Reprort, can we change the modal text to :

- [ ] Are you sure you’d like to Submit this report? (Cancel / Continue)

[2018-07-12 22:44] sethgold8 commented on #766
can we change the text to

- [ ] Please note that below activity has already been added to this project

[2018-07-12 22:47] sethgold8 commented on #774
@KKaselkar can you change the dates to match exactly and re-test.

[2018-07-12 22:48] sethgold8 commented on #755
@KKaselkar please confirm if this is working now

[2018-07-12 22:48] sethgold8 commented on #754
@KKaselkar please confirm if this is working now

[2018-07-13 15:27] KKaselkar opened #784 "Partner Activity Indicator - created by IMO"
etools test environment, IMO role, IRAQ workspace

1) As an IMO I created cluster activity indicator and than adopted that indicator in partner activity indicator.

System doesnt allow to save the partner activity indicator as IMO needs to add the baseline at the cluster activity indicator level.

Baseline is already added for the same location and IMO again updates the baseline for the same locat

[2018-07-13 15:30] KKaselkar commented on #784
https://etools-test.unicef.org/app/IRQ/cluster-reporting/plan/6/response-parameters/partners/activity/51/indicators?page_size=10&page=1

Partner Act Indicator by IMO

![image](https://user-images.githubusercontent.com/32198614/42699839-f716ca4a-868f-11e8-961d-ceecb3762e49.png)
![image](https://user-images.githubusercontent.com/32198614/42699846-fb48647a-868f-11e8-80fb-4933529ee497.png)

Cluster Ac

[2018-07-13 18:48] n1207n opened #785 "Add needed UI framework & JS libraries, and reusable components for ID management frontend"
This is child of #777.

- [x] Review UNICEF's UNPP react codebase to get inspired for UI framework and libraries

- [x] Add needed NPM modules for JS libraries

- [ ] Determine reusable React components in UNPP and copy them over. (e.g: Functional react UI components like list, card, row components, etc)

[2018-07-15 18:43] KKaselkar commented on #774
@sethgold8 locations were added and report was generated to Cluster PRP, the only issue is with the dates matching in both the systems, will retest and let you know

[2018-07-15 18:44] KKaselkar commented on #758
@sethgold8  I had to provide a business case (need) to Rob. Will contact him on this issue .

[2018-07-15 18:52] KKaselkar commented on #755
@sethgold8   error still exists when clicked on Programme document ->reports tab -> PDF export

@robertavram  as per Seth this is fixed in tivixlabs can you please redeploy the code on test environment

[2018-07-15 18:56] KKaselkar commented on #764
@sethgold8  export link on the page in the above screenshot works when logged in as IMO but doesnt work when logged in as partner.
If its fixed in tivixlabs than please tag Rob and let him know to redeploy the code.

[2018-07-16 13:23] robertavram commented on #760
wondering if there are any updates on this... so far it doesn't work.

[2018-07-16 20:23] KKaselkar opened #786 "From project doesnt display"
From project option doesnt display while adding a project in cluster prp on etools test environment.

[2018-07-16 20:24] KKaselkar commented on #786
![image](https://user-images.githubusercontent.com/32198614/42781651-ba6bc1d6-8914-11e8-8993-75af00210aa0.png)

[2018-07-16 20:32] KKaselkar opened #787 "IMO not able to save without baseline"
IMO is not able to add locations and save a cluster activity indicator without baseline which is adopted in PAI at PAI level.

IMO should be able to do everything that a partner can do - on behalf of that partner when adding new location(s) for an activity indicator, IMO should be able to add baseline, in-need and target.

Chrome browser, workspace IRAQ, etoolstest environment

[2018-07-16 20:34] KKaselkar commented on #787
![image](https://user-images.githubusercontent.com/32198614/42782169-191dcbe2-8916-11e8-98ef-278bffaf2483.png)

[2018-07-16 21:45] sethgold8 commented on #761
@KKaselkar looking it this. Pushing to the backlog for now but will do our best to see if it can be changed.

[2018-07-16 23:54] sethgold8 commented on #787
@n1207n enforce this form validation as a partner, not as an IMO

[2018-07-17 00:02] sethgold8 commented on #786
@robertavram super strange, we 'From OCHA' Radio boxes in PRP. Is this updated code in Etools test environment?
![Screen Shot 2018-07-16 at 5.01.31 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246455f56b7191a37df1122a4f5c5e5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eb

[2018-07-17 00:20] sethgold8 commented on #784
@KKaselkar

- [ ] 1st part of this ticket is already in # .
- [ ] 2nd part is not clear enough. Please rephrase and be specific with exact steps on how to reproduce

[2018-07-17 15:53] KKaselkar opened #789 "Incorrect monthly reporting period"
1. Log into Cluster-PRP as IMO
2. Select a Response Plan
3. Go to Reponse Parameters -> Clusters -> OBJECTIVES tab
4. Click on a Cluster Objective
5. Go to CLUSTER OBJECTIVE INDICATORS tab
6. Click on ADD CLUSTER OBJECTIVE. Specify:
    a. Frequency of reporting = "Monthly"
    b. Start date of reporting period = "15 Jun 2018"

system displays incorrect monthly reporting dates:
The following Repor

[2018-07-17 15:54] KKaselkar commented on #789
![image](https://user-images.githubusercontent.com/32198614/42829794-2e171ef2-89b8-11e8-81dc-0842a64e6f51.png)

![image](https://user-images.githubusercontent.com/32198614/42829806-3209502a-89b8-11e8-9829-d32a27e22ce9.png)

[2018-07-17 15:59] KKaselkar opened #790 "Send message to IMO doesnt work"
On etools test IMO does not receive any email when Partner send a message to update the baseline for the location.

[2018-07-17 16:00] KKaselkar commented on #790
![image](https://user-images.githubusercontent.com/32198614/42830259-f20bfbde-89b8-11e8-94e2-f885bd3dd8bd.png)

[2018-07-17 16:12] KKaselkar commented on #790
closing this issue as it works for me

Dear David Brooks,
Partner "AGENCY FOR TECHNICAL & EMERGENCY DEV." in your cluster sent this message:

submit the request

-- Kunal Kaselkar (kunal_kaselkar@yahoo.com)

This message is regarding UAT_Cluster for UAT project by IMO project in Education_Baghdad_IRAQ_2018 plan.

This indicator contains 0 locations:

Details can be viewed at the link below.
etools

[2018-07-17 16:12] #790 closed

[2018-07-17 17:25] KKaselkar opened #791 "Loading error when trying to save an indicator without 'Baseline'"
Browser:Chrome
Workspace:South Sudan
etools test

-Steps:
-Login as IMO.
-Go to Response Parameters -->Clusters ---> Activity Indicators
-Add Cluster activity indicator.
-Enter Title.
-Select Type- Percent or Ratio.
-Fill all the required fields.
-Click SAVE.
-User will be directed to list of indicators.
-Click on "Edit" option for the same indicator which was added last.
-Edit few of the fields.D

[2018-07-17 17:28] KKaselkar opened #792 "Inneed field cannot be null- cluster activity indicatot"
Browser: Chrome
Workspace:South Sudan
etools test

Steps:
-Login as IMO.
-Go to Response Parameters -->Clusters ---> Activity Indicators
-Add Cluster activity indicator.
-Enter Title.
-Select Type- Percent
-Fill all the required fields.
-Add locations, Baseline and target in Locations Card.
-CLick SAVE.
-User will be directed to list of indicators.
-Click on "Locations" option for the Same indicat

[2018-07-17 17:29] KKaselkar commented on #792
![image](https://user-images.githubusercontent.com/32198614/42834714-68635d3e-89c5-11e8-8da9-2e5a8a8654e2.png)

![image](https://user-images.githubusercontent.com/32198614/42834717-6cfe5c36-89c5-11e8-97af-262c9395b872.png)

[2018-07-17 17:31] KKaselkar opened #793 "If In-Need is removed, we do not allow user to save. In-Need should be optional"
Browser:Chrome
Workspace:South Sudan
etools test

Steps:
-Login as IMO
-Go to Response Parameters ----> Clusters ---> Activity Indicators
-Add Cluster Activity Indicator.
-Fill all the fields.
-Populate field "In Need" less than "Target".
-Click SAVE.
- Error message is displayed- target: Cannot be greater than In Need.
-To correct the error user removes/deletes the number from "In Need" field.
-C

[2018-07-17 17:33] KKaselkar commented on #793
![image](https://user-images.githubusercontent.com/32198614/42834942-ed13e9fe-89c5-11e8-98de-f877523c64f1.png)

![image](https://user-images.githubusercontent.com/32198614/42834963-f4028cb6-89c5-11e8-991d-6f5d1e119a94.png)

[2018-07-17 17:35] KKaselkar opened #794 "Add Error Validation if user does not add date for custom Response Plan"
Browser: Chrome
Workspace:South Sudan
etools test

Steps:
-Log in as IMO
-add a reponse plan from frontend.
-Select option Custom.
-Fill below details:
Response Plan
Plan Type
Clusters
- Don't populate the start date and end date.
-Click SAVE.

Result: Error message is displayed and the page freezes and keeps on showing "Loading".Ideally a relevant error message should be displayed if start date a

[2018-07-17 17:36] KKaselkar commented on #794
![image](https://user-images.githubusercontent.com/32198614/42835284-6ce446d8-89c6-11e8-86b3-d6b78bdacec5.png)

[2018-07-17 18:11] KKaselkar opened #795 "Dashboard - constrained indicator"
1. Log into Cluster-PRP as IMO
2. Select Workspace = "Somalia".
3. Select Response Plan = "Water Sanitation in Somalia 2018 (FA)"
4. Go to Dashboard.
5. Change Cluster filter from "All" to "Imported Type".

Constrained Indicator with Cluster = 'WASH" is listed under "List of constrained indicators". It shouldn't have since it is for Cluster = "WASH".

[2018-07-17 18:12] KKaselkar commented on #795
![image](https://user-images.githubusercontent.com/32198614/42837199-615cb962-89cb-11e8-9319-33d2ae367c92.png)

![image](https://user-images.githubusercontent.com/32198614/42837214-66f69e24-89cb-11e8-9508-331993c41469.png)

[2018-07-17 18:15] KKaselkar opened #796 "List of constrained indicators"
1. Log into Cluster-PRP as IMO
2. Select Workspace = "Somalia".
3. Select Response Plan = "Water Sanitation in Somalia 2018 (FA)"
4. Go to Dashboard. Keep Cluster set to "All".
5. Click on an Indicator under "List of constrained indicators"

It will take you to the Reporting Results section and SUBMITTED REPORTS tab, but the Indicator is not displayed.

[2018-07-17 18:18] KKaselkar commented on #796
![image](https://user-images.githubusercontent.com/32198614/42837493-3e61b0e2-89cc-11e8-86a7-c1c46ba2ce9f.png)

![image](https://user-images.githubusercontent.com/32198614/42837497-41db0cfa-89cc-11e8-831f-dab1e0602675.png)

[2018-07-17 18:20] KKaselkar opened #797 "List of overdue indicators"
1. Log into Cluster-PRP as IMO
2. Select Workspace = "Somalia".
3. Select Response Plan = "Water Sanitation in Somalia 2018 (FA)"
4. Go to Dashboard. Keep Cluster set to "All".

The Reports listed under "List of overdue indicator reports" were NOT created under the specified Response Plan in Workspace Somalia. Looks like these were created in Workspace Iraq.

User has access to both Somalia and Ir

[2018-07-17 18:21] KKaselkar commented on #797
![image](https://user-images.githubusercontent.com/32198614/42837665-b43b47d8-89cc-11e8-9b0a-b9effebfea8c.png)

[2018-07-17 19:50] KKaselkar opened #798 "Weekly reporting"
etools test, south sudan

Below are the screenshots of a Cluster Objective .
                Frequency:         “Weekly”
                Start Date:          “01-Jun-2018”

The following Due Date and Reporting Periods were generated
                Due Date                             Reporting Period
                09-Jun-2018 (F)                 01-Jun-2018 (F) - 08-Jun-2018 (F)

[2018-07-17 19:51] KKaselkar commented on #798
![image](https://user-images.githubusercontent.com/32198614/42841823-4b6e5102-89d9-11e8-844f-40ce9838eeba.png)

[2018-07-17 22:08] n1207n commented on #760
A quick update here:

A default PyPi package for uwsgi does not have asyncio plugin. So I had to modify Dockerfile to install uwsgi separately with UWSGI_PROFILE environment variable, along with greenlet thread engine.

I had to modify heavily for Python function that is responsible for importing OCHA response plan data to favor asyncio.coroutine instead of current implementation. I just confirmed

[2018-07-18 13:43] robertavram commented on #760
@n1207n got it thanks... seems to work.. I'll have Kunal confirm with QA as well

[2018-07-18 14:18] robertavram commented on #786
@KKaselkar based on Gavin;s input do you mind retesting and updating this card... code is up to date.

[2018-07-18 18:36] robertavram commented on #760
@n1207n @sethgold8

it seems like env is going down after a certain number of requests with the new config:

[code]

[2018-07-18 18:49] sethgold8 commented on #796
- [ ] Can confirm we are not displaying 'Constrained indicators' in the dashboard

[2018-07-18 18:54] sethgold8 commented on #789
@KKaselkar can you confirm, if user sets the start date for Monthly on May 15...Start date should be May 15 with end date June 14th and due date June 15. For next period start date should be June 15 with end date July 14th and due date July 15.

[2018-07-18 19:02] sethgold8 commented on #792
- [ ] IMO unable to change and save baseline

[2018-07-18 19:05] n1207n commented on #760
@robertavram, thanks for the error log. It's quite unfortunate to encounter this.

I think I'm gonna ditch asyncio for response plan import. Even Uwsgi docs suggests that this is experimental feature, so I can see this is not stable.

I'm hoping to convert response plan import to celery task function just like how OCHA data is getting imported in such manner.

[2018-07-18 19:08] sethgold8 commented on #784
both of these tickets are in other tickets. Closing

[2018-07-18 19:08] #784 closed

[2018-07-18 21:33] n1207n commented on #760
In PRP, we already have nginx & uwsgi setup for both docker-compose and k8s. Changing to gunicorn would require more efforts in my opinion.

I'm simply gonna replicate what we already have for other OCHA API data load without changing webservers. that's all ;)

[2018-07-18 22:40] sethgold8 commented on #793
![Screen Shot 2018-07-18 at 3.39.33 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246455fb6b7191a37bf111224f5c5c5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df54ae84856a11a3264ee702431.png)

[2018-07-18 22:43] sethgold8 commented on #794
![Screen Shot 2018-07-18 at 3.43.34 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246455fb6b7191a37bf116284f5c5b5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19141c95df54ae84856ac10356ae3712431.png)

[2018-07-18 22:45] sethgold8 commented on #794
- [ ] if start and end date are empty when creating custom response plan, through a frontend validation to prevent calling API @momimomo
- [ ]  Make sure check start and end date before creating custom response plan @n1207n

[2018-07-18 22:45] sethgold8 commented on #754
@KKaselkar update on this? IF working, please close

[2018-07-18 22:46] sethgold8 commented on #755
@KKaselkar update on this? IF working, please close

[2018-07-18 22:48] sethgold8 commented on #764
Just tagged you above @robertavram . Not sure it notifies you for updated comments so wanted to circle back to read Kunal's comment above

@KKaselkar can you close if this is working?

[2018-07-18 23:12] sethgold8 commented on #797
@KKaselkar this is a issue from testing and would not happen in real life.

A tester marked Agency for Tech Dev (Iraqi partner) in Somalia  clusters through Django Admin. This UI shows indicator reports from all the partners, from all clusters in this response plan. Since this partner belonged to Somalia cluster, therefore UI showed indicator reports from Iraqi partner.

![Screen Shot 2018-07-18 a

[2018-07-19 22:46] n1207n opened #800 "Update file storage class to use Azure blob storage"
Update PRP base settings to use Azure-storage file backend class, borrowing from PMP.

Redeploy new dev environment manually afterwards.

[2018-07-20 13:35] KKaselkar opened #801 "Partner name is not displayed in the project edit form"
Browser:Chrome
Workspcae:South Sudan
etools test environment

Steps:

-Login as a IMO.
-Go to Response Parameters--> Partners--->Projects
-Add a project.
-Fill all the required fields.
-Click SAVE.Project will be saved.
-Click on Edit Project.

Result: Partner name does not display on the field "Partner".However when user click on the dropdown the selected partner is displayed.

Ideally the name s

[2018-07-20 13:37] KKaselkar commented on #801
![image](https://user-images.githubusercontent.com/32198614/43005314-7faae984-8c00-11e8-850a-cc52fc91790d.png)

![image](https://user-images.githubusercontent.com/32198614/43005322-8568433a-8c00-11e8-9d3f-ac372dde350d.png)

[2018-07-20 14:37] KKaselkar opened #802 "Replace error message for response plan"
etools test environment
1. Log in as IMO
2. Specify Workspace = "Somalia"
3. Click ADD NEW RESPONSE PLAN
4. Choose "Custom"
5. Without populating any of the fields, click button SAVE.

The following error message is displayed. Please note that required field "title" is not consistent with actual field name "Response Plan".

[2018-07-20 14:38] KKaselkar commented on #802
![image](https://user-images.githubusercontent.com/32198614/43008406-fb59a608-8c08-11e8-9ba4-bbee04a1a50e.png)

[2018-07-20 14:42] KKaselkar opened #803 "Change the error message"
etools test environment
1. Log in as IMO
2. Specify Workspace = "Somalia"
3. Click ADD NEW RESPONSE PLAN
4. Choose "Custom"
5. Enter exact Response Plan and Plan Type that already exists in the Workspace.

The error message below is displayed in the screenshot.

 A less technical error messagse like "A Response Plan with the same name and type already exists in the workspace."

[2018-07-20 14:45] KKaselkar opened #804 "Editing disaggregations"
1. Log into Cluster-PRP as IMO
2. Select a Response Plan
3. Go to Reponse Parameters -> Clusters -> Disaggregations tab
4. Add 1 or 2 Disaggregations. SAVE.

User is not able to modify or edit the disaggregations.

Disaggregations must be editable if not used in any indicators

[2018-07-20 14:47] KKaselkar opened #805 "Error editing cluster objective"
etools test environment
1. Log into Cluster-PRP as IMO
2. Select a Response Plan
3. Go to Reponse Parameters -> Clusters -> Objectives tab
4. Click on an existing Cluster Objective to open it
5. Click EDIT OBJECTIVE.
6. Change the Cluster Objective Title
7. Click SAVE.

Error message "An error occurred, please try again later." is displayed

[2018-07-20 14:48] KKaselkar commented on #805
![image](https://user-images.githubusercontent.com/32198614/43008967-6bd610f0-8c0a-11e8-9072-e9a98cf7bdf2.png)

[2018-07-20 14:49] KKaselkar commented on #803
![image](https://user-images.githubusercontent.com/32198614/43009037-93c3fc8a-8c0a-11e8-9365-18cacb2fe636.png)

[2018-07-20 15:00] KKaselkar opened #806 "Mandatory fields - cluster activity indicator"
etools test environment

Browser:Chrome
workspace:South SUdan

-Steps:
-Login as IMO.
-Go to Response Parameters -->Clusters ---> Activity Indicators
-Add CLuster activity indicator
-Enter Title.
-Select Type, Calculation method across locations, Calculation method across reporting periods.
-Don't populate any other fields.
-Click SAVE.
-Mandatory fields("Frequency of reporting" and "Target") will

[2018-07-20 15:02] KKaselkar commented on #806
![image](https://user-images.githubusercontent.com/32198614/43009677-4de8a9f2-8c0c-11e8-87f1-0f42975d1f47.png)

![image](https://user-images.githubusercontent.com/32198614/43009686-53540c6a-8c0c-11e8-8fe7-ed5199f82ecb.png)

[2018-07-20 15:05] KKaselkar opened #807 "Start date field - cluster activity indicators"
etools test environment

Browser:Chrome
Workspace:South Sudan

Steps:
-Login as IMO.
-Go to Response Parameters ---> Clusters -----> Activity Indicators
-Add CLuster Activity Indicator.
-Fill all the fields.
-Select "Start date of reporting period".

Result: If user wants to remove the date, there is no option to remove/clear the date.Ideally if it is not a mandatory field, "clear" option should b

[2018-07-20 15:07] KKaselkar commented on #807
![image](https://user-images.githubusercontent.com/32198614/43009921-0419a97e-8c0d-11e8-932c-a85fc2deddbe.png)

![image](https://user-images.githubusercontent.com/32198614/43009928-0bde9ca0-8c0d-11e8-82c3-162bb5835e06.png)

[2018-07-20 15:11] KKaselkar opened #808 "Target greater than inneed - cluster act indicator"
etools test environment
1. Log into Cluster-PRP as IMO
2. Select a Response Plan
3. Go to Reponse Parameters -> Clusters -> CLUSTER ACTIVITIES tab
4. Click on a Cluster Activity
5. Go to ACTIVITY INDICATORS tab
6. Add a Cluster Activity Indicator for Type "Quantity".
7. Add a Location and populate Baseline, In Need, and Target. Save.
7. Click on LOCATIONS link next to the Indicator you have just c

[2018-07-20 15:12] KKaselkar commented on #808
![image](https://user-images.githubusercontent.com/32198614/43010203-d1616ca0-8c0d-11e8-9124-2b882d701242.png)

[2018-07-20 15:54] KKaselkar opened #809 "Add project column on partner activities tab"
etools test environment

1. Log into Cluster-PRP as IMO
2. Select Workspace = "Somalia".
3. Select Response Plan = "Water Sanitation in Somalia 2018 (FA)".
4. Go to Response Parameters -> Partners -> PARTNER ACTIVITIES tab

Since the same Cluster Activity may be added multiple times as long as they are for different Projects and the resulting Partner Activity name takes the same name as the Cluste

[2018-07-20 15:55] KKaselkar commented on #809
![image](https://user-images.githubusercontent.com/32198614/43012195-bb91da62-8c13-11e8-93a1-ff39df2199e2.png)

[2018-07-20 16:00] KKaselkar opened #810 "Generate Uploader Template error"
etools test environment
Browser:CHrome
Workspace:South Sudan

-Log in as an IMO.
-Click on "Generate Uploader Template".
-Go to Reporting results Tab.
-Spreadsheet will be downloaded.
- enter the data / report in the downloaded spreadsheet.
- click on import template and upload the file from the local machine.

Result: Error is displayed and report does not get uploaded.

[2018-07-20 16:01] KKaselkar commented on #810
![image](https://user-images.githubusercontent.com/32198614/43012615-922a10e4-8c14-11e8-9733-515284ffbad5.png)

[2018-07-20 18:05] KKaselkar opened #811 "Analysis tab - no indicator type and no graphical images"
etools test environment
Steps:
-Log in as IMO.
- Click on Analysis.
- Click on Indicators.
- Classification of indicators will be displayed.
-Click on the dropdown icon to expand the indicators.

Result:
1. For some of the indicators Graphical images are not displayed
2. Indicator Type is blank

[2018-07-20 18:06] KKaselkar commented on #811
![image](https://user-images.githubusercontent.com/32198614/43018010-236be4a4-8c26-11e8-909f-3ce3dd34634d.png)

![image](https://user-images.githubusercontent.com/32198614/43018015-2807d6bc-8c26-11e8-936e-0604570f35e9.png)

[2018-07-20 18:13] KKaselkar opened #812 "Admin level filters on analysis dont work"
1. Log into Cluster-PRP as IMO
2. Select Workspace = "Somalia".
3. Select Response Plan = "Water Sanitation in Somalia 2018 (FA)".

Filters for Admin0 and admin1 on analysis tab dont give accurate results

Go to Analysis --> Indicators tab.

Set filter Location Type = "Admin0".

Change filter Narrow Location Type from "None" to "Admin0" to "Admin1", etc.. The result set returns the same number of

[2018-07-20 18:14] KKaselkar commented on #812
These are the Clusters and Objectives created in this Response Plan:
     Response plan	                            Cluster	          Objectives
Water Sanitation in Somalia 2018 (FA)	WASH	<pk: 10> - Obj 1
Water Sanitation in Somalia 2018 (FA)	Imported Type	<pk: 11> - Obj 1

These are the Indicators created with Location Type = "Admin0":
Response plan	Cluster

[2018-07-20 18:21] KKaselkar opened #813 "IMO can edit projects which are not in IMO's cluster or plan"
1. Create 2 IMO Users
2. Create 2 Clusters
3. Associate Cluster 1 to IMO 1, and Cluster 2 to IMO 2.
4. Log-in as IMO 1 and create Project 1. Note that in the Clusters dropdown, you can only select Cluster 1.
5. Log-in as IMO 2 and create Project 2. Note that in the Clusters dropdown, you can only select Cluster 2.
6. In the list of Projects, you will see both Projects 1 and 2. You will also be abl

[2018-07-20 19:35] KKaselkar opened #814 "Incorrect reporting dates for cluster obj indicators"
Iraq workspace, cluster objective indicators, IMO login
etools test environment.

system displays incorrect reporting dates.

[2018-07-20 19:36] KKaselkar commented on #814
![image](https://user-images.githubusercontent.com/32198614/43021693-9eaa5f54-8c32-11e8-8271-90c39351a7ef.png)

![image](https://user-images.githubusercontent.com/32198614/43021715-af50a7be-8c32-11e8-96a1-ecd512a5ffd8.png)

[2018-07-20 19:42] KKaselkar opened #815 "Error is displayed twice"
etools test environment
1. Log into Cluster-PRP as IMO
2. Select a Response Plan
3. Go to Reponse Parameters -> Partners
4. Go to PROJECTS tab
5. Click on ADD PROJECT
6. Without populating any field, click on SAVE.

The list of errors are displayed twice.

[2018-07-20 19:43] KKaselkar commented on #815
![image](https://user-images.githubusercontent.com/32198614/43021972-939b6300-8c33-11e8-8340-689401c3bca4.png)

[2018-07-20 19:46] KKaselkar opened #816 "Agreements is spelled incorrectly"
etools test environment

1. Log into Cluster-PRP as IMO
2. Select a Response Plan
3. Go to Reponse Parameters -> Partners
4. Go to PROJECTS tab
5. Click on ADD PROJECT
6. Click on SHOW MORE FUNDING DETAILS

"Agreements" is spelled incorrectly.

[2018-07-20 19:46] KKaselkar commented on #816
![image](https://user-images.githubusercontent.com/32198614/43022098-12463892-8c34-11e8-9bd1-1a734664611e.png)

[2018-07-20 20:46] sethgold8 commented on #804
@KKaselkar Not a bug. We designed it this way so users would not do harm. They can do it in django admin

[2018-07-20 20:46] #804 closed

[2018-07-21 00:30] sethgold8 commented on #811
@KKaselkar location importer not ready

[2018-07-21 00:34] #797 closed

[2018-07-23 18:42] sethgold8 commented on #810
@KKaselkar which response plan, you will need to reproduce the exact issue

[2018-07-23 18:47] sethgold8 commented on #808
2 bugs
- [ ]  Baseline should be required
- [ ] Target cannot be greater than In Need.

[2018-07-23 19:04] sethgold8 commented on #762
working good now :)

[2018-07-23 19:04] #762 closed

[2018-07-23 19:11] sethgold8 commented on #763
@momimomo on Etools test still seeing the old message

![Screen Shot 2018-07-23 at 12.11.02 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246456f06b7191a379ed0c2a50415f4cbc21254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52dcbd4f3fb29

[2018-07-23 23:39] sethgold8 commented on #759
working :)
![Screen Shot 2018-07-23 at 4.38.07 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246456f06b7191a37cf111234f5f585ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19041c95df549e2455ca517366ae4762431.png)

[2018-07-23 23:47] sethgold8 commented on #752
Working in dev :)

![Screen Shot 2018-07-23 at 4.46.40 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246456f06b7191a37cf1162d4f5b5f5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19041c95df549e2455ca2123364e4772431.png

[2018-07-24 00:02] sethgold8 commented on #803
@KKaselkar can you share the error message to put

[2018-07-24 18:48] KKaselkar opened #820 "Not able to add Cluster Objective Indicator"
etools demo environment
Iraq workspace
IMO role

Once click on save button for cluster objective indicator system keeps on loading and doesnt save the cluster objective indicator

[2018-07-24 18:49] KKaselkar commented on #820
![image](https://user-images.githubusercontent.com/32198614/43159588-bdbaca48-8f50-11e8-9617-5645739adede.png)

[2018-07-25 01:13] sethgold8 commented on #820
@KKaselkar

- [ ] For New OPS, check  Libya  with Response Plan Libya 2018
- [ ] For Old OPS, check Afghanistan  with Response Afghanistan 2017

Keep in mind, when you import those response plans, it may take a few minutes for all the indicators to show up

[2018-07-25 01:15] sethgold8 commented on #776
@KKaselkar Syria Locations are imported

![Screen Shot 2018-07-24 at 6.13.56 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246456f76b7191a37ef113284f5a595ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df549e545

[2018-07-25 13:32] KKaselkar commented on #820
Working now, user is able to add cluster objective indicator

[2018-07-25 13:32] #820 closed

[2018-07-25 14:44] KKaselkar commented on #811
@sethgold8  moving this ticket from backlog.
Identified as critical bug by business owner.
Analysis tab doesn't display any data on the screen for both operational presence and  indicator

[2018-07-25 16:30] KKaselkar commented on #760
@sethgold8  sent you the list of partners to have OCHA ref ID added in django admin.

[2018-07-25 17:31] sethgold8 commented on #811
@momimomo can you test the loading in analysis section on the Filter Box for workspace Syria in Demo and Dev environments.

If you see infinite loading data, can you replicate in your machine and see the cause?

[2018-07-25 18:11] KKaselkar commented on #764
![image](https://user-images.githubusercontent.com/32198614/43219150-86f5a31a-9014-11e8-8693-3276d42975d1.png)

not working on demo prp

[2018-07-25 18:13] KKaselkar commented on #754
working fine
resolved

[2018-07-25 18:13] #754 closed

[2018-07-25 18:14] KKaselkar commented on #755
working fine.
Resolved

[2018-07-25 18:14] #755 closed

[2018-07-25 18:19] KKaselkar opened #821 "Cannot add cluster indicator in PMP"
Demo PMP and PRP environment

When I select cluster while adding an indicator system throws an error.

[2018-07-25 18:19] KKaselkar commented on #821
![image](https://user-images.githubusercontent.com/32198614/43219589-bce0f6d6-9015-11e8-8580-a839b502d204.png)

[2018-07-25 18:25] KKaselkar commented on #770
working now.
resolved

[2018-07-26 00:41] sethgold8 opened #823 "Projects not showing after adding from OCHA"
As Partner (ADRA ADVENTIST DEVELOPMENT AND R AGENCY), we added a project successfully from OCHA. When we went to the list of projects, none we showing.

When Project is imported, somehow the Cluster is not associated with the project and the project list API cannot return the newly added project because Cluster link is missing.

[2018-07-26 17:55] sethgold8 opened #824 "Add Partner Activity indicator missing for Partner"

[2018-07-26 18:42] KKaselkar commented on #789
Working now.
Issue is fixed on demo

[2018-07-26 18:42] #789 closed

[2018-07-26 19:02] KKaselkar commented on #787
@sethgold8

Logged in as IMO - Iraq workspace , Education Iraq 2018 - Test is the response plan
IMO is able to add locations at PAI for the inherited CAI but those locations dont appear at the CAI level for the same IMO.

PAI screenshot
![image](https://user-images.githubusercontent.com/32198614/43282633-ad07d23c-90e4-11e8-97e1-efdf1eae69b3.png)

CAI screenshot

[2018-07-26 19:06] KKaselkar commented on #776
working fine.
Syria locations are visible on demo

[2018-07-26 19:36] KKaselkar commented on #759
@sethgold8  targets do appear, will check the labels and update the ticket

[2018-07-26 19:47] sethgold8 commented on #824
@KKaselkar Partner cannot add an Indicator if they adopted from the CLuster Activity. If they want to add an Activity Indicator, it must be from a Custom Activity

[2018-07-26 21:16] KKaselkar commented on #760
OCHA add projects works for Syria for the ID you provided for a partner

[2018-07-26 21:17] #760 closed

[2018-07-26 23:13] sethgold8 commented on #787
That is a different ticket you are referring to @KKaselkar , which is listed as enhancement.

Still there are bugs bugs in this flow. I need to do more testing here

[2018-07-26 23:37] #672 closed

[2018-07-27 09:03] momimomo commented on #811
There seems to be empty response from backend - Are you sure the data is avaialable? I it should be, please check the endpoint `api/cluster/cluster-analysis/<id>/indicators/` @n1207n

[2018-07-27 09:13] momimomo commented on #794
Hi, I don't see any front end date validation in PRP - in other modals, it's backend that's sending the error response along with 400 status. I'll update after backend change.

[2018-07-27 14:05] KKaselkar opened #825 "Default plan as HRP - 663"
etools test environment
rowser:CHrome
Workspace: South SUdan

-Login as IMO.
-Add a response plan from frontend.
-Select Custom option.
-Populate all the fields except "Plan Type".
-Click SAVE.

Result: Plan Type displays as HRP eventhough, it wasn't selected.

 If the default Plan Type is "HRP", then it should be shown on the "Add Response Plan" window right away.

[2018-07-27 14:09] KKaselkar commented on #825
![image](https://user-images.githubusercontent.com/32198614/43325614-248f0bf4-9185-11e8-8845-aa5861adca95.png)

![image](https://user-images.githubusercontent.com/32198614/43325616-2839c186-9185-11e8-97eb-b2e290734509.png)

[2018-07-27 14:42] KKaselkar opened #826 "687 - Asterisks on cluster"
etools test environment

1. Log into Cluster-PRP as IMO
2. Select a Response Plan
3. Go to Reponse Parameters -> Partners
4. Go to PROJECTS tab
5. Click on ADD PROJECT
6. Without populating any field (especially Title, Cluster, Start Date, End Date), click on SAVE.

There's asterisk on "Clusters", but is is not listed in the error message below:

[2018-07-27 14:44] KKaselkar commented on #826
![image](https://user-images.githubusercontent.com/32198614/43327656-f8dd1c6c-9189-11e8-8cef-2a344e4127ac.png)

![image](https://user-images.githubusercontent.com/32198614/43327662-fdbec816-9189-11e8-8314-2805797701d9.png)

[2018-07-27 14:47] KKaselkar opened #827 "688 - Add an error message to select partner"
etools test
1. Log into Cluster-PRP as IMO
2. Select a Response Plan
3. Go to Reponse Parameters -> Partners
4. Go to PROJECTS tab
5. Click on ADD PROJECT
6. Populate the following fields:
    a. Title
    b. Clusters
    c. Start Date
    d. End Date

    Note: DO NOT populate Partner

7. Click on SAVE.

should show an indication that Partner is required by (1) putting an asterisk next to the fie

[2018-07-27 16:45] dfryta commented on #823
This one we need talk about. I will reach you Monday @sethgold8 since I have couple additional questions.

[2018-07-27 21:00] n1207n opened #828 "Update PD sync & OCHA import code to improve location handling"
Based on the technical joint meeting we had today,

PRP codebase needs some update for how to update existing location types, in order to prevent redundant location type entries

[2018-07-30 12:47] dfryta commented on #823
I found an issue. It will be fixed soon - we are missing this relation at all.

[2018-07-30 18:25] n1207n commented on #796
Update here. I was able to replicate this on dev environment. I created a Cluster objective indicator, generated its reports, and submitted one of reports with constrained status.

The issue is coming from the fact that `List of constrained indicators` only looks at Partner activity indicators. Therefore, the list of constrained indicators does not show this.

My understanding is that any indicato

[2018-07-30 18:35] n1207n commented on #794
Backend changes is in place and it's working. No frontend work is needed ;)

[2018-07-30 19:17] n1207n commented on #795
A couple of updates here:

1. We don't show Imported Type anymore. We map out cluster titles correspondingly, so this should no longer be issue.

2. Instead, I'm seeing `Imported` in Cluster column from List of constrained indicators rows. Based on the code, this should not happen though. I'm trying to redeploy polymer on dev environment to see if the changes are not deployed yet or something.

[2018-07-30 19:53] sethgold8 commented on #827
@KKaselkar please include specific error message.

 Marking this as enhancement for the message on the specific field

[2018-07-30 19:54] sethgold8 commented on #826
@KKaselkar marking as enhancement

[2018-07-30 21:38] n1207n commented on #811
Based on my inspection, that *loading data* loader keeps spinning if there is no partner data in cluster reporting. When I added partner activity and its indiator in one country, the analysis filter box UI loads fine. When I went to the country without any partner activity data, the analysis filter box UI has that hanging spinner. ccing @sethgold8

@momimomo, I think this has to do with how filter

[2018-07-30 21:46] n1207n commented on #811
@momimomo,

Possibly an origin of bug for this issue: https://github.com/unicef/etools-partner-reporting-portal/blob/develop/polymer/src/elements/filter-list.html#L178

Somehow, readyCount is not incremented when the API for filter box returned an empty data.

[2018-07-30 21:55] n1207n commented on #811
@momimomo, actually the real culprit is probably `cluster-objective-filter-multi`

Assuming the response plan has clusters and locations from OCHA or via custom plan, cluster objective is the only one I could think of you have to create manually.

If you can take a look at that component and see if how empty array data affects the component itself.

![Screen Shot 2018-07-30 at 2.52.15 PM.png](http

[2018-07-30 22:14] sethgold8 commented on #794
working :)

[2018-07-30 22:28] sethgold8 commented on #808
Baseline is required, and target cannot be greater then IN Need. This fulfills that :)

Opening a ticket for not being able to save without In- Need (which should be optional)

[2018-07-30 22:31] sethgold8 commented on #793
working :)

[2018-07-30 22:32] sethgold8 commented on #791
working :)

[2018-07-31 00:34] sethgold8 commented on #821
@ntrncic Etools demo PMP environment is not talking to the PRP DEMO environment. Can you configure Etools Demo to call our PRP Demo environment.

cc @KKaselkar

[2018-08-01 00:59] sethgold8 opened #829 "Add error validation if IMO/Partner adds an indicator with a start date, that is after the end date of a Response Plan"
Right now a user can add an indicators start date at any date (even if the end date of the response plan has passed). A report will not generate.

We should throw a validation error, letting the user know the start date must be within the Response Plan start and end date. #enhancement

[2018-08-01 07:53] momimomo commented on #811
This component properly receives data and sets pending to false. Still looking into it!

[2018-08-01 17:38] n1207n opened #830 "500 error on making in-need optional at location-level as IMO"
Omitting in-need value on location level does not save.

[code]

[2018-08-01 17:45] n1207n opened #831 "Cluster indicator report list API returning redundant items"
We noticed that indicator reports for Partner Project are returned in a redundant fashion.

We also noticed that editing PartnerActivity faced 500 error due to more than 1 instance returned, given M2M ORM lookups without distinct()

Make sure the serializer has distinct ORM applied to the queryset:

![Screen Shot 2018-08-01 at 10.43.56 AM.png](https://waffleio-direct-uploads-production.s3.amazonaw

[2018-08-01 17:59] sethgold8 opened #832 "When writing a Narrative for indicator, auto save should save after 2 seconds"
Add 2000 millisecond debounce delay to that text UI component

![Screen Shot 2018-08-01 at 11.21.16 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6454f26b7191a379ee0c2950415e48bc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52dcb

[2018-08-01 18:08] n1207n commented on #764
The backend API for this currently allows IMO only to export. This should be easy fix as we just need to add Authorized officer to the permitted groups.

[2018-08-01 18:09] n1207n commented on #830
Close this as this is duplicate of #787

[2018-08-01 18:09] #830 closed

[2018-08-01 18:09] n1207n commented on #787
Omitting in-need value on location level does not save.

[code]

[2018-08-01 18:15] n1207n commented on #801
The partner is actually being selected if you click that dropdown menu. We just need that dropdown UI to show default value if it has partner to it.

[2018-08-01 18:15] #594 closed

[2018-08-01 18:25] sethgold8 opened #833 "When editing a Project, we do not show the name of the Partner in the 'Edit Project' screen initially"

[2018-08-02 07:08] momimomo commented on #832
Hi, it seems it's already supplied with debounce - redux is updating as it should, 2000ms later.
![Screen Shot 2018-08-02 at 09.07.37.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5abba0fa42a63c001483a918/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6454f16b7191a378e60c2b56415c49be5d4a1f06a3a3dc78e2a436628f5458bbd96e0a74c53b18ffb9871fbf08b8258c4982b4ba

[2018-08-02 07:25] momimomo commented on #832
This is from cluster.

[2018-08-02 07:27] momimomo commented on #832
Can't seem to find that component then, but redux is updating with debounce already somehow...

[2018-08-02 07:32] momimomo commented on #832
Found it! it was set to 400. Fixed.

[2018-08-02 08:11] momimomo commented on #833
Removing `selected-item="{{selectedPartner}}"`,  seems to fix the issue. selected-item is custom property However, this data is linked with logic for ocha_external_id in many places in `.../planned-action/projects/creation-modal`. Will have to dig deeper in `etools-single-selection-menu`

[2018-08-02 08:12] momimomo commented on #833
Removing `selected-item="{{selectedPartner}}"`  seems to fix the issue. However, this data is linked with logic for ocha_external_id in many places in `.../planned-action/projects/creation-modal`. Will have to dig deeper in `etools-single-selection-menu`

[2018-08-02 15:18] sethgold8 commented on #715
escalating to @chachra

[2018-08-03 09:46] momimomo commented on #833
@n1207n  Is there a way to generate fake data with a partner that has permissions for pulling projects from OCHA? can't test if the fix is working.

[2018-08-05 09:30] chachra opened #835 "In xls export template when no data entered, leave blank instead of 0?"
Currently spreadsheet has 2 tabs, None (when no disagg) and another tab.

Totals are set to 0 by default, but if user were to upload the spreadsheet it'd be almost as if they reported 0's!

May be best to be blank. Its possible/doable since in the prp ui default is 0, but backend json structure knows when its default 0 versus user has intentionally reported a "0" progress.

[2018-08-05 10:29] chachra opened #836 "Only partners that have planned projects or activities should show up in analysis > operational presence"
Right now seems like partners have associated clusters and show up anyway, even though they might not be doing anything in that response plan.

[2018-08-05 17:35] chachra opened #838 "Make sure all django admin model instances open fast"
Some have very big dropdown. Fix all that are slow. Examples reportable doesn't even load on demo or takes a good 30-60 seconds. 504's otherwise.

[2018-08-05 18:10] chachra commented on #833
This ticket should have read: "Do not show partner dropdown when editing a project".

[2018-08-05 18:28] chachra opened #839 "When new deployment happens, force reload frontends?"
Am sure eTools PMP does something to this effect already?

[2018-08-06 05:32] chachra opened #840 ""Number of Due/Overdue Partner Activity Reports" on cluster dashboard is wrong."
Number is wrong. Its mixing data across response plans because of wrong query in: https://github.com/unicef/etools-partner-reporting-portal/blob/c2146a5e306f5b0d1e3fd753c6f6718650ca84e9/django_api/django_api/apps/cluster/models.py#L117

Fix: similar to https://github.com/unicef/etools-partner-reporting-portal/commit/2b5e9a59decd4f6a269cea694e5ffcd0a5ef8fb7

[2018-08-06 11:09] chachra opened #841 "OCHA plans are appearing twice ?"

[2018-08-06 11:09] chachra commented on #841
![Screen Shot 2018-08-06 at 2.08.27 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58ca8dffc9b0d720006675c4/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6454f56b7191a37af112234f5d585ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df548e44856a31b3062e67e2431.png)

[2018-08-06 13:12] chachra opened #843 "Ability to copy a structure from one indicator into another one being created"
So that user doesn't have to enter the same start/end data, reporting frequency, locations etc. as well when creating a new indicator.

[2018-08-06 13:18] chachra opened #844 "Be able to pull in updated targets from OCHA for the plan"
Be able to update targets post creation of the plan from OCHA.

[2018-08-07 10:55] chachra opened #845 "Send message to IMO does not send it."
Should send message to all the IMO users of that cluster to which this partner activities parent cluster activity belongs to.

[2018-08-07 11:36] chachra opened #846 "Filtering by partner on reporting results brings indicator reports for cluster objectives as well"
Should not be bringing in cluster objective indicator reports at all since it has nothing to do with partner.

[2018-08-08 06:24] chachra opened #849 "In reporting results > filters indicators repeat"
Repeat is happening because we're showing the partner indicator and also the parent cluster indicator. If two partners adopt that cluster activity and its indicators, then 3 of same show up.

Logic to apply would probably be to only always show the parent cluster activity indicator name and depending on indicator type then further filter. But if only that cluster activity indicator is selected the

[2018-08-08 07:17] chachra opened #850 ""List of my project activities" on partner dashboard does not respect cluster filter at the top"
- [x] Cluster filter at top is education but it shows nutrition etc. project activities as well for some reason. #Backend

![Screen Shot 2018-08-15 at 3.30.04 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6455f66b7191a37bf1112b4f5f5b5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d

[2018-08-08 07:27] chachra opened #851 "Make ui work on mobile (safari and chrome)"
- [ ] Left hand nav should be hamburger menu
- [ ] Make sure dashboard and other major tabs/views load quickly.
- [ ] Maybe hide filters in a hamburger menu as well?
- Make work on chrome and ideally safari on mobile as well.

[2018-08-08 07:28] chachra opened #852 "Weird gap in analysis ui"
https://www.evernote.com/l/AAVoBXrex7lPirI6EwweTBnc9wMQiyb76rs

[2018-08-15 18:50] KKaselkar opened #855 "Display Partner Org and vendor number on the Reports Page"
Display Partner Org and vendor number on Reports Page:

[2018-08-15 18:51] KKaselkar commented on #855
![image](https://user-images.githubusercontent.com/32198614/44166893-916c4600-a09a-11e8-9b79-93e4faf9904d.png)

Robert Avram Aug 15 2018, 2:26 pm
This requires a change from PRP api.
/unicef/[workspace_id]/progress-reports/ It will be ideal if Programme Document will include partner_org name and vendor number.
unless you prefetch the partner org in the queryset this endpoint might suffer performan

[2018-08-15 21:58] sethgold8 commented on #795
@KKaselkar can you please rephrase the specific issue? The top description is unclear

[2018-08-15 22:00] sethgold8 commented on #824
Moving since this is #enhancement

[2018-08-15 22:01] sethgold8 commented on #803
bumping this again @KKaselkar

[2018-08-15 22:28] sethgold8 commented on #852
not able to replicate so #closing

![Screen Shot 2018-08-15 at 3.26.41 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6455f66b7191a37bf1102d4f5b5e5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19041c95df54fe24a57a411

[2018-08-15 22:28] sethgold8 commented on #852
not able to replicate so #closing

![Screen Shot 2018-08-15 at 3.26.41 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6455f66b7191a37bf1102d4f5b5e5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19041c95df54fe24a57a411

[2018-08-15 22:28] #852 closed

[2018-08-15 22:40] sethgold8 commented on #850
![Screen Shot 2018-08-15 at 3.30.04 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6455f66b7191a37bf1112b4f5f5b5ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a82b0bb884ad2f42f67b6d5db1063474f4dcbed5727a19141c95df54fe24a57a717376ae4702431.png)

[2018-08-16 16:10] chachra opened #856 "AO alerting when logged in to ID management"
This is child of #777.

If AO is logged in and there are other AO's in the system (can re-use existing user list API endpoint with AO filter) then at top of user list (above filters) show the names of those AO's and a link saying "see all below" which triggers the filter then.

Also if role is AO make it a different color in the table to make it stand out

[2018-08-16 16:15] chachra opened #857 "Sync only Authorized officers from PMP and assign correct roles in the new ID management data models"
This is child of #777.

-[ ] Only authorized officers should be synced.

-[ ] On sync make sure to add appropriate PRPRole instances for the right workspace for this user.

-[ ] Any deactivation in PRP ID mgmt should override whatever PMP might be saying in terms of user status.

-[ ] If AO user already exists with same email, then log an info log and not re-create them or re-assign them to a diff

[2018-08-16 20:05] chachra opened #858 "Upgrade cryptography package in django codebase"

[2018-08-17 11:48] #856 closed

[2018-08-21 22:34] sethgold8 commented on #846
If partner filter is used, grab Partner Activity and Partner Project indicators only @n1207n

[2018-08-22 01:36] KKaselkar opened #859 "Cluster reporting frequency not displayed in PMP"
Cluster indicator reporting was set as weekly but in PMP it shows (0)
Cluster HR indicator is still displayed in the QPR in IP PRP.

Dev. prp environment.
Iraq workspace
PD : PCA 2016/04/PD2018437

[2018-08-22 13:28] KKaselkar commented on #859
PMP
![image](https://user-images.githubusercontent.com/32198614/44465937-f967e280-a5ec-11e8-9f39-60405f5e94fb.png)

PRP
![image](https://user-images.githubusercontent.com/32198614/44466137-8dd24500-a5ed-11e8-8265-c23243f7bb49.png)

![image](https://user-images.githubusercontent.com/32198614/44466203-b5c1a880-a5ed-11e8-902c-2cd912825c87.png)

[2018-08-22 16:01] KKaselkar opened #860 "Not able to submit SR"
Dev. prp environment.
Iraq workspace
PD : PCA 2016/04/PD2018437

attachment is added but  system says please add an attachment when submitting a SR, looks like its not accepting large files

Attachment uploaded in PRP doesnt appear in PMP

[2018-08-22 16:02] KKaselkar commented on #860
![image](https://user-images.githubusercontent.com/32198614/44475535-4b1b6780-a603-11e8-92f8-8f39785e7eab.png)

[2018-08-22 20:10] sethgold8 commented on #860
from @KKaselkar
- [ ] cannot upload large files
- [ ] The attachment does not appear in PMP

[2018-08-24 13:48] KKaselkar opened #861 "Target is required even though value is added"
env: Dev (dev.partnerreportingportal.org)
Browser:Chrome
Workspace: South Sudan

Steps:
-Login as Partner.
-Go to My Planned Actions---> Add Project(OCHA or custom any)
-Update all the fields and click SAVE.
-Now create project indicator.
-Fill all the fields and click SAVE.
-Edit the project indicator.
-Click SAVE.

Result: Error message is displayed : target is required to create Indicator.Even

[2018-08-24 13:49] KKaselkar commented on #861
![image](https://user-images.githubusercontent.com/32198614/44588140-f1da4200-a782-11e8-8210-9cde8ad58041.png)

[2018-08-24 13:54] KKaselkar opened #862 "Project from OCHA doesnt get saved the first time"
Browser:Chrome
Env: Dev
Workspace: South Sudan

Steps:
-Log in as a IMO.
-Go to Response Parameters---> Partners--->Projects---->Add Project
- Select a partner.
-Select "From OCHA" Radio button.
-Select a project from the list synced from OCHA.
- Click SAVE. Overview page with "edit Project" button and project details  will be displayed.
-Go back to Projects Tab by clicking "< " icon beside the ti

[2018-08-24 13:54] KKaselkar commented on #862
![image](https://user-images.githubusercontent.com/32198614/44588454-bee47e00-a783-11e8-81d4-eaf3f22b2c58.png)

[2018-08-24 13:56] KKaselkar opened #863 "Locations are not inherited when Partner adopts cluster activity in PA"
Browser: Chrome
Workspace:South Sudan

Steps:
-Login as an IMO.
-Go to response Parameters Tab.
-Create a cluster activity.
-Create a cluster activity indicator.
-Fill all the required fields.
-Add atleast one location.
-Click SAVE.
-Now login as a PARTNER.
-Go to My Planned actions Tab.
-Click on "Activities" Tab.
-Add an Activity using "Add from Cluster Activities" option.
-Adopt the cluster act

[2018-08-24 13:57] KKaselkar commented on #863
![image](https://user-images.githubusercontent.com/32198614/44588556-0d921800-a784-11e8-8d18-391ac6fa59a4.png)

[2018-08-24 13:59] sethgold8 commented on #861
@KKaselkari see the error message and just tested twice and everything was working. Let's have you demo this live so I can see.

[2018-08-24 14:00] KKaselkar opened #864 "Save button hides behind the task bar"
Browser:Chrome
Workspace:South sudan
Env: Dev

-Login as IMO/Partner.
-Go to Response parameters--->Partners---> Add Project.
-Add Project.
-Now add Project Indicator.
-Fill all the required fields.
-Now click on "Locations".

Result: SAVE button on the form hides behind the task bar.Need to adjust the frame/Layout.

[2018-08-24 14:01] KKaselkar commented on #864
![image](https://user-images.githubusercontent.com/32198614/44588765-990ba900-a784-11e8-88fc-81add2c304c6.png)

[2018-08-24 14:05] KKaselkar opened #865 "All values dont get saved"
1. Log into Cluster-PRP as Partner
2. Select Workspace = "Somalia".
3. Select Response Plan = "Water Sanitation in Somalia 2018 (FA)".
4. Go to My Planned Action -> ACTIVITIES tab
5. Click on a Custom Partner Actvity
6. Go to ACTIVITY INDICATORS tab
7. Click on an existing Activity Indicator.
8. Make changes to the Title.

[2018-08-24 14:05] KKaselkar commented on #865
9. Make changes to the Baseline, In Need, and Target fields.

10. Make changes to the Baseline, In Need, and Target fields at the Location(s) level. Save.

11. Edit the same Indicator to see if the changes got saved.

Only the Target field at the Location(s) level got saved. All other changes were not saved.

[2018-08-24 18:35] KKaselkar opened #866 "Deleted indicator in PMP appears in PRP"
PD number: IRQ/PCA2018245/PD2018441
dev.prp environment
Iraq workspace
demo pmp environment

Add indicators to a PD (indicators can only be added when the PD is in draft status)

click on save button.

now delete an indicator from the PD click on save button.

change the PD status to signed and then active by adding additional details in the PD.

deleted indicator still displays on the change calc

[2018-08-24 18:37] KKaselkar commented on #866
![image](https://user-images.githubusercontent.com/32198614/44601638-1f3ae600-a7ab-11e8-8db6-731f86963d75.png)

![image](https://user-images.githubusercontent.com/32198614/44601681-409bd200-a7ab-11e8-80e6-2350978eba7b.png)

[2018-08-24 18:40] KKaselkar opened #867 "Only high frequency humanitarian indicators in HR"
PD number: IRQ/PCA2018245/PD2018441
dev.prp environment
Iraq workspace
demo pmp environment

HR reports must only display High Frequency humanitarian indicators marked in PMP and not all.

QPR must display all types of indicators.

[2018-08-24 18:42] KKaselkar commented on #867
PMP - 2 indicators in the below screenshot are not high frequency humanitarian indicators
![image](https://user-images.githubusercontent.com/32198614/44601839-cb7ccc80-a7ab-11e8-8e99-c2fc02eaaf5a.png)

[2018-08-24 18:47] KKaselkar opened #868 "Label for indicators"
PD number: IRQ/PCA2018245/PD2018441
dev.prp environment
Iraq workspace
demo pmp environment

Label for indicators doesn't display the actual value in all the places where a label value should appear.
Also label should not appear for quantity type indicator.

**technical note**
- [ ] Make sure we're syncing the label values
- [x] In **ip reporting only** (no change to cluster) show labels only for

[2018-08-24 18:47] KKaselkar commented on #868
![image](https://user-images.githubusercontent.com/32198614/44602136-a046ad00-a7ac-11e8-9e4b-002ffa7ae9fb.png)

[2018-08-24 18:49] KKaselkar opened #869 "Data pulled from HR in QPR doesnt get disaggregation values"
PD number: IRQ/PCA2018245/PD2018441
dev.prp environment
Iraq workspace
demo pmp environment

When data is pulled from HR to QPR, only totals are received, disaggregation values are not pulled.

[2018-08-24 18:51] KKaselkar commented on #869
![image](https://user-images.githubusercontent.com/32198614/44602301-34187900-a7ad-11e8-9fcf-59b3627e2a7b.png)

[2018-08-24 18:53] KKaselkar opened #870 "Remove the word cluster"
PD number: IRQ/PCA2018245/PD2018441
dev.prp environment
Iraq workspace

“For this cluster indicator data can be pulled from reports matching this reporting period PULL DATA FROM HR”  -  in this message CLUSTER word must not appear.

[2018-08-24 18:54] KKaselkar commented on #870
![image](https://user-images.githubusercontent.com/32198614/44602426-996c6a00-a7ad-11e8-9bfe-a040b6fc1b06.png)

[2018-08-24 19:00] KKaselkar opened #871 "Ratio and percentage - data entry table error"
PD number: IRQ/PCA2018245/PD2018441
dev.prp environment
Iraq workspace
demo pmp environment

In case of ratio and percentage the data entry table doesn’t display the layout / format of the table correctly. It should be similar to the data entry table as implemented in cluster for ratio and percentage.

[2018-08-24 19:01] KKaselkar commented on #871
![image](https://user-images.githubusercontent.com/32198614/44602777-91f99080-a7ae-11e8-88b5-612c2228aa96.png)

[2018-08-24 22:43] chachra commented on #867
@KKaselkar which ones were HF? I think this field was added in PMP late in dev. @robertavram can you confirm its in the API?

[2018-08-24 22:52] chachra commented on #871
@KKaselkar this indicator was setup as a percent? @robertavram in current api there is no way to know other than d=100 in the key. Can you expose blueprint as well please? safer that way.

[2018-08-24 23:08] sethgold8 commented on #869
@KKaselkar There is no way to enforce same disaggregation level for all underlying HR reports so we have to pull in the total https://unicef.gitbook.io/prp/product-end-user-documentation/ip-reporting/progress-reports/quarterly-progress-reports-qpr

[2018-08-27 12:50] kasialanecka opened #872 "Email Notifications in ID Management"
Handle email notifications for new user / add+edit new permission / delete permission

[2018-08-27 13:30] KKaselkar commented on #859
@sethgold8  is there  any update on this? as we need to start testing dual reporting.
the error that I sent you on slack is below:
Processing PD: 437
[2018-08-21 15:36:38,576: WARNING/Worker-2] Cannot associate PartnerActivity to ClusterActivity for dual reporting - skipping link!
[2018-08-21 15:36:38,576: WARNING/Worker-2] Invalid ClusterActivity Reportable ID for dual reporting - skipping link!

[2018-08-27 18:06] chachra commented on #871
@robertavram some quick help on this will be great so we can resolve this one. Tx.

[2018-08-27 18:09] chachra opened #873 "Indicator last 2 reports should only show submitted reports not draft ones"
Currently in IP reporting it shows data from draft reports as well when clicking on a specific indicator (in Indicators tab)

- [ ]  Should only show last 2 submitted or accepted reports data.

dev environment: /app/IRQ/ip-reporting/indicators/?pd_statuses=Act&page_size=10&page=1

[2018-08-27 18:10] robertavram commented on #871
will you want the entire blueprint exposed or just flat serialize the `unit` and `display_type` in the same structure

[2018-08-27 19:05] KKaselkar opened #874 "500 error when exporting PDF on Indicators page and Progress Reports list page for a PD"
We are getting a 500 error when exporting PDF on Indicators page and Progress Reports list page for a PD

@kosior

- [ ] PDF throws error on List of Progress Reports /app/IRQ/ip-reporting/pd/422/view/reports?page_size=10&page=1

- [ ] ON the indicators tab, if user exports PDF, it throws an error. It might have to do with No data in some of the columns. Will forward email

app/IRQ/ip-reporting/ind

[2018-08-27 19:06] KKaselkar commented on #874
![image](https://user-images.githubusercontent.com/32198614/44680061-b05bc800-aa0a-11e8-9727-74db29b78ca2.png)

[2018-08-27 19:11] chachra opened #875 "Add exclamation or warning to calculation methods update modal"
When changing calculation method and saving, we need to update warning modal to:

- [ ] add a yellow exclamation mark of some sort when updating calculation methods
- [ ] bold text

https://www.evernote.com/shard/s5/sh/9565f213-196c-44a5-9042-89c467e52d0c/f03bd53483a5e794

Dev environment: app/IRQ/ip-reporting/pd/422/view/calculation-methods
user: admin_ao

[2018-08-27 22:50] sethgold8 commented on #874
Getting: AttributeError at /api/unicef/20/progress-reports/
'NoneType' object has no attribute 'strftime' when we export PDF. Forwarding email as well

[2018-08-27 23:25] sethgold8 commented on #868
blocked by #871

cc @KKaselkar

[2018-08-28 00:34] sethgold8 commented on #859
@KKaselkar you need to recreate Dual Reporting indicator in PMP demo due to stale cluster activity indicators.

For Dual reporting, reporting period needs to match. Look at the cluster reporting, create a Cluster Activity  indicator with frequency all lined up. Create Partner activity from the cluster activity, then go to pmp and create cluster indicator with a cluster activity indicator you creat

[2018-08-28 01:08] chachra commented on #869
Closing issue post-discussion with Kunal and as per above,

[2018-08-28 01:08] #869 closed

[2018-08-28 01:09] chachra commented on #866
@n1207n this can be delivered now?

[2018-08-28 16:08] KKaselkar opened #876 "Indicators appear multiple times in QPR"
Dev Environment
PD: IRQ/PCA2018245/PD2018450
Iraq workspace

Indicators appear multiple times in QPR
https://dev.partnerreportingportal.org/app/IRQ/ip-reporting/pd/424/report/297/edit?page=1

[2018-08-28 19:38] KKaselkar commented on #739
@sethgold8  so we reopen this ticket during ID management ?

[2018-08-28 20:07] robertavram commented on #871
keys available in etools-demo.

[2018-08-28 20:28] KKaselkar opened #878 "Abbreviations for report types"
Dev PRP environment
Iraq workspace

- [ ] When we add the full form of report types in the filter can we also add the short form in parenthesis in the filter
Quarterly Progress Reports (QPR)
Humanitarian Reports (HR)
Special Reports (SR)
![Screen Shot 2018-08-29 at 11.47.11 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d

[2018-08-28 20:30] KKaselkar opened #879 "Data uploader template HR and QPR"
Dev PRP environment
Iraq workspace

Uploader template needs to be implemented in IP PRP for HR & QPR reports for entering data ,similar to cluster PRP

Specifications here https://unicef.gitbook.io/prp/product-end-user-documentation/ip-reporting/data-uploader-for-qpr-and-hr

[2018-08-29 18:30] n1207n commented on #871
Confirmed that API fields are added from etools-demo. Will make changes to task. Thanks.

[2018-08-29 20:13] sethgold8 opened #880 "Remove details from XLS export on Progress Reports List page"
List of Progress Reports XLS on progress reports list page for a PD – must export the list what appears on the page and not in details.

- [ ] can you remove all columns in XLS export except:

Report Status
Start Date
Date of Submission
Reporting Period
Report # (This needs to be added as it is not currently there)

[2018-08-29 20:27] n1207n commented on #871
@robertavram,

I see some indicators from PD sync have no value in `unit` and `display_type` fields. What I'm going to do is to look up their baseline dictionary, and set `unit` and `display_type` to Quantity type if denominator is 1, otherwise will be set as percentage.

![Screen Shot 2018-08-29 at 1.27.21 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58d2f674dc6eec1

[2018-08-30 19:21] robertavram opened #881 "Api tweaks"
for the progress-report detail api endpoint:
`/api/unicef/20/progress-reports/id/` as well as on the list page -> `/api/unicef/20/progress-reports/` (covered in ticket #877)
is it possible to serialize: `partner_name`, `partner_vendor_number`, `unicef_focal_points`-[array of names?] ? -> for the list of reports could we also have a filter on unicef_focal_points [email of user]

We can pass in a ve

[2018-08-30 22:00] momimomo commented on #868
I'm getting `null` label value (label.label) in all responses for indicator reports from backend. (https://dev.partnerreportingportal.org/)

<img width="477" alt="screen shot 2018-08-30 at 23 22 34" src="https://user-images.githubusercontent.com/21158922/44880084-b0c6be00-acab-11e8-9a19-595c288cfbe0.png">

as for #2 - visibility limited as requested. Issuing PR.

[2018-08-31 16:12] groinder commented on #875
![screen shot 2018-08-31 at 18 04 02](https://user-images.githubusercontent.com/16709010/44923720-6562ed00-ad49-11e8-97f7-1619530ff646.png)
It will look like this.

[2018-08-31 21:21] sethgold8 opened #885 "Target not displaying for ratio and percent indicators"
- [ ] Frontend is not rendering 'target' for Ratio and Percent indicators

[2018-08-31 21:56] n1207n commented on #881
@robertavram I added these new fields to both ProgressReport list and details API and deployed. The dev environment should be able to see these new fields now.

`unicef_focal_points` filter parameter is also added to ProgressReport list API as a list of Person's email, delimited by comma. Whenever it gets deployed, it should be able to work.

I'm not sure how `verbosity` GET parameter would work.

[2018-08-31 22:04] sethgold8 opened #886 "Percent totals incorrect for ratio indicators"
The percent indicator totals are not correct. Underlined in red

app/IRQ/ip-reporting/indicators?pd_statuses=Act&page_size=10&page=1

user: tester17@gmail.com

![Screen Shot 2018-08-31 at 3.03.07 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6457f26b7191a37bf112284f5f585ecc3c4a435

[2018-08-31 22:29] sethgold8 opened #887 "Unable to see attachment for SR reports sent back in PMP"
To reproduce
PME sends back SR after it is submitted and gives feedback.

- [ ] AO not able to see the feedback on the SR once its sent back

app/IRQ/ip-reporting/pd/558/report/700/edit

![Screen Shot 2018-08-31 at 3.36.01 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6457f26b7191

[2018-09-04 11:32] groinder commented on #885
Could you please add an URL and/or screen where this is supposed to be shown? I couldn't find it.

[2018-09-04 11:36] groinder commented on #887
`app/IRQ/ip-reporting/pd/558/report/700/edit` links to an non-existing report on dev env. I've tested it locally and it works.
![Screen Shot 2018-09-04 at 13.35.22.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b8810529277090012ad827e/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772a6454f76b7191a379ec0c2854415d4cbe5d4a1f06a3a3dc78e2a436628f5458bbd96e0a74c5

[2018-09-04 16:56] sethgold8 commented on #887
@groinder

user: seth.gold@tivix.com (i will send pw)

PD: PCA 2016/04/PD2018397
SR1

Am still not getting anything on dev environment
![Screen Shot 2018-09-04 at 9.55.34 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772a6454f76b7191a371f1172e4f5c5b5edd3c4a4356bcbbd671f3e57862804e0ee5

[2018-09-04 17:01] sethgold8 commented on #885
QPR 1
IRQ/SSFA2018244
Dev Environment
user: seth.gold@tivix.com

![Screen Shot 2018-09-04 at 10.00.07 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772a6454f76b7191a379ef0c2b51415f49bc30254d58eeb9cb74fce36f34985619e8d93e097cc56811afbe8b4cbe04ba20824d80b1ba8d4ec6fa2137a5dad11b61435c52d

[2018-09-04 17:23] KKaselkar opened #888 "PRP - API for progress report page in PMP"
Progress report page in PMP needs to have a functionality for the page to be printed with all the indicators in expanded view.

Information needs to be provided in API for Rob to work on the front end in PMP

[2018-09-04 18:32] KKaselkar commented on #859
@sethgold8  I had created new cluster indicators and used them in PMP,  but I can try again if you want .

[2018-09-04 18:38] sethgold8 commented on #859
@KKaselkar yes please do and let know steps after following the above comment

[2018-09-04 20:14] robertavram commented on #881
I'll check it out and update here.. thanks!

[2018-09-04 20:28] robertavram opened #889 "New Indicator Export backend filters"
A new feature was requested in PMP to be able to download all Indicators (https://dev.partnerreportingportal.org/api/unicef/20/programme-document/indicators/?export=xlsx )
from the "reports" page in PMP.  this would mean all "IndicatorReport"s that are associated with the filtered list of reports.
Therefore it would be nice to have filters on `/api/unicef/20/programme-document/indicators/` on repo

[2018-09-05 17:04] KKaselkar commented on #752
Can you please remove the highlighted date:

Screenshot from PRP:
![image](https://user-images.githubusercontent.com/32198614/45108952-1c75b480-b10c-11e8-92e6-474fa2b364b6.png)

Screenshot from PMP:

![image](https://user-images.githubusercontent.com/32198614/45109005-3ca57380-b10c-11e8-95c6-ee50c1f4d0ef.png)

[2018-09-05 17:14] KKaselkar commented on #759
Value for targets dont appear for percentage and ratio indicators.
![image](https://user-images.githubusercontent.com/32198614/45109448-99edf480-b10d-11e8-983d-0d10dad6888f.png)

"label" still appears for quantity even though label field doesnt exists in PMP for quantity

[2018-09-05 17:18] KKaselkar commented on #816
resolved

[2018-09-05 17:18] #816 closed

[2018-09-05 17:20] KKaselkar commented on #815
Error still exists
![image](https://user-images.githubusercontent.com/32198614/45109777-7f684b00-b10e-11e8-957d-1d51820a8ad1.png)

[2018-09-05 20:08] KKaselkar commented on #860
@sethgold8  this is not resolved

[2018-09-05 21:57] sethgold8 commented on #815
@KKaselkar The bug reported was for the error message repeating twice (as you can see in the first screenshot you posted). There is only 1 error message live (I have tested on Tivix environment and dev environment) and in the photo you posted.

cc @chachra

[2018-09-07 10:10] groinder commented on #887
I didn't notice at first that it only occurred if the report was `Special Report` type. It's fixed now.

[2018-09-07 21:28] sethgold8 commented on #887
@groinder can you merge? If not let me know and will ask Silin when he returns

[2018-09-07 21:29] sethgold8 commented on #885
@groinder can you merge? If not let me know and will ask Silin when he returns

[2018-09-10 15:22] robertavram commented on #881
Good from our side on this one! thanks!

[2018-09-10 21:02] KKaselkar opened #891 "Disaggregated data from HR to QPR"
System must be able to pull disaggregated data from HR to QPR if data is entered for all disaggregations in all HR's

System must inform the user that if any data for any disaggregation for any location is missing than system will not pull the disaggregated data from HR to QPR, in this scenario only the totals will be pulled

[2018-09-11 18:08] KKaselkar opened #892 "Dual Reporting IP & Cluster Due dates dont match"
Dev.prp environment
Iraq workspace
Chrome browser

•	For IP PRP – end date for humanitarian reports is the same as the due date selected in PMP by UNICEF.
•	For Cluster PRP – due date for humanitarian reports is a day after the end date of the report.
This difference in due dates affects dual reporting , see the below results in IP PRP:
•	HR1 – has only UNICEF HR
•	HR2 – has both cluster and IP HR

[2018-09-11 18:10] KKaselkar commented on #892
PMP screenshot
![image](https://user-images.githubusercontent.com/32198614/45378742-4b889c00-b5cc-11e8-97c2-fe46881f740e.png)

IP PRP screenshot PCA 2016/04/SHPD2018504
![image](https://user-images.githubusercontent.com/32198614/45378799-6c50f180-b5cc-11e8-8e73-c484087f0a4d.png)

[2018-09-11 18:19] KKaselkar opened #893 "Dual Reporting - few reports are not generated for IP"
Dev.prp environment
Chrome browser
Iraq workspace

PCA 2016/04/SHPD2018504

This PD report has the same issue as 892.
In addition to that bug it also has another issue that IP PRP HR is not generated for all reporting period dates. screenshot below:

[2018-09-11 18:40] KKaselkar opened #895 "Dual reporting - Unicef tab appears twice"
Dev.prp environment
Iraq workspace
Chrome browser

2 Cluster indicators are add in PMP to a SSFA with one UNICEF high frequency indicator

Locations in both UNICEF and cluster dont match but the reporting dates match.

[2018-09-11 18:41] KKaselkar commented on #895
![image](https://user-images.githubusercontent.com/32198614/45380425-a7edba80-b5d0-11e8-9968-d85fe2db18b3.png)

PMP:
![image](https://user-images.githubusercontent.com/32198614/45380443-b50aa980-b5d0-11e8-8bf1-96fc9620a8c1.png)

[2018-09-11 19:05] KKaselkar commented on #867
@chachra  there is a toggle in PMP which a user selects if the indicator is high frequency  humanitarian indicator

[2018-09-11 19:22] KKaselkar opened #896 "Percentage Type Indicator"
prp.dev environment
chrome browser
Iraq workspace

Percentage type Indicator:

For percentage on the data entry table totals are not displayed on the right and top of the rows in the data entry table (modal window) once the data is saved.

If unchecked the disaggregation for percentage indicator it still appears on the data entry table (modal window) indicator has 3 disaggregations with 4 categori

[2018-09-11 19:27] KKaselkar commented on #896
IRQ/PCA2018245/PD2018512

![image](https://user-images.githubusercontent.com/32198614/45382702-0ae25000-b5d7-11e8-8889-2ff9fd7ccad2.png)

[2018-09-11 19:28] KKaselkar commented on #896
![image](https://user-images.githubusercontent.com/32198614/45382799-5dbc0780-b5d7-11e8-80f1-847aedf27f20.png)

[2018-09-11 20:00] robertavram opened #897 "Capture and serialize Progress Report Reviewer"
We need to have the ability to capture reviewer (name email and external id) on the progress report:

pr done ⬇️

[2018-09-11 20:05] sethgold8 commented on #895
@KKaselkar what PD #? Screenshot is a bit blurry

[2018-09-12 00:42] sethgold8 commented on #892
@KKaselkar PMP due date must match with Cluster. Otherwise cannot get dual reporting consistently.

![Screen Shot 2018-09-11 at 5.41.56 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772a6455f26b7191a37df1162a4f5a595ecc3c4a4356bcbbd671f3e57862804e0ee5823b5777933d12aab1d11eba01ba29894a8

[2018-09-12 00:49] sethgold8 commented on #893
@KKaselkar Reports are not generating correctly because HR1 and HR2 reporting requirements from PMP share exactly same reporting period but they have 2 different due dates. Therefore Report Generator only create HR 1 and HR 3 and skipped HR2. PMP needs to send valid reporting requirements.

[2018-09-12 13:44] KKaselkar commented on #893
@sethgold8  what do you mean by "valid reporting requirements" ? I understand that both IP and Cluster calculate different due dates for their reports and I am going to talk internally  to have one due date in both IP and Cluster

[2018-09-12 13:48] KKaselkar commented on #892
@sethgold8  the highlighted text in your email is for cluster, but for IP PRP their requirements were to have the due date same as end date, Anyways both IP and Cluster as of now have different due dates calculated in the system and I am trying to understand which one is correct.

[2018-09-12 13:48] KKaselkar commented on #895
Number of SSFA:  IRQ/SSFA2018265

[2018-09-12 14:16] KKaselkar commented on #892
Aligning IP PRP due dates  in PMP to cluster due dates so closing this card as it needs work on PMP.

[2018-09-12 14:16] #892 closed

[2018-09-12 15:45] KKaselkar commented on #867
Rob is working on this have created a ticket in clubhouse

[2018-09-12 20:02] KKaselkar opened #901 "Narrative text for SR , if entered a long text displays out of the screen"
Dev.prp environment
chrome browser
Iraq

Narrative text for SR , if entered a long text displays out of the screen

[2018-09-12 20:02] KKaselkar commented on #901
![image](https://user-images.githubusercontent.com/32198614/45450138-4a776d80-b6a5-11e8-9e82-2d343d42756c.png)

[2018-09-12 20:07] KKaselkar opened #902 "Return reason is not dispalyed in the PRP for SR"
Dev.prp environment
chrome browser
Iraq

when a SR is sent back from PMP to PRP the feedback entered in PMP is not displayed in PRP

[2018-09-12 20:10] KKaselkar commented on #902
resolved

[2018-09-12 20:10] #902 closed

[2018-09-12 20:16] KKaselkar opened #903 "Add Narrative for SR Export PDF/XLS"
Dev.prp environment
chrome browser
Iraq

When selected sent back and exported the report in PDF and XLS it doesnt give the correct results, it provides PDF and XLS with no details for the indicator or report

[2018-09-12 20:17] KKaselkar commented on #903
![image](https://user-images.githubusercontent.com/32198614/45450829-55cb9880-b6a7-11e8-83d1-668777723e1d.png)

[2018-09-12 20:17] KKaselkar commented on #903
![image](https://user-images.githubusercontent.com/32198614/45450834-58c68900-b6a7-11e8-9941-f1f2506a575b.png)

[2018-09-12 20:20] KKaselkar opened #904 "Narrative text typing - auto save function"
Dev.prp environment
chrome browser
Iraq

Narrative text for reports - The Changes Saved message appears after each word typed, the typing is difficult not very responsive and letters dont appear, the quick auto save doesnt allow user to type quickly.

[2018-09-12 20:29] KKaselkar opened #905 "Submit button for QPR greys out"
Dev.prp environment
chrome browser
Iraq

When user tries to submit a QPR the submit button greys out and doesn’t submit the report. This happened with many users and they had to refresh the screen to submit the report.

[2018-09-12 20:47] sethgold8 commented on #905
@KKaselkar we need specific steps to reproduce..ie the report and PD #

Just tested and 'Submit' button is blue on QPR1 for IRQ/SSFA2018244

![Screen Shot 2018-09-12 at 1.45.19 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59f1189df815e200161f654a/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772a6455f16b7191a379f1162e4f5e565ecc3c4a4356bcbbd671f3e5786280

[2018-09-12 20:50] sethgold8 commented on #903
@KKaselkar please include all information like user, PD, etc. This saves time

[2018-09-12 23:48] sethgold8 commented on #896
@KKaselkar You can only enter in the light blue columns. Dark Blue is subtotal columns which are automatically calculated

[2018-09-12 23:53] sethgold8 commented on #893
@KKaselkar invalid = same reporting period. Reporting period must be unique per each reporting requirement.

Notice how HR1 and HR2 have the same reporting period. They should not be the same .

We agree due date should follow the cluster format on +1 after end of reporting period.

[2018-09-12 23:57] sethgold8 commented on #859
@KKaselkar have you tested again and confirmed? If so, can we close as I see Dual Reporting indicators have been generated and seen HR - Cluster (1) in PMP for other PDs.

[2018-09-13 00:05] sethgold8 commented on #891
@KKaselkar as mentioned multiple times ( https://github.com/unicef/etools-partner-reporting-portal/issues/869) , we cannot guarantee  that partners will enter good data at all times and the same level of disaggregation because they may not have the data when they are due to report. This is why we allow for partial submission of data.

Pulling partial submission from HR to QPR will encounter alot o

[2018-09-13 02:58] #889 closed

[2018-09-13 03:15] #881 closed

[2018-09-13 14:16] robertavram opened #907 "Add ability to download PD document from PMP"
We need to have the ability to download a PD document that's available in PMP.  PR available ⬇️

[2018-09-13 18:11] KKaselkar commented on #815
Resolved, error is displayed once

[2018-09-13 18:11] #815 closed

[2018-09-13 18:14] KKaselkar commented on #794
Resolved, system gives error message to enter start and end date

[2018-09-13 18:14] #794 closed

[2018-09-13 19:04] KKaselkar commented on #798
Resolved , its working as per the request

[2018-09-13 19:04] KKaselkar commented on #798
![image](https://user-images.githubusercontent.com/32198614/45509730-5e36d880-b766-11e8-89e3-9c4da563a8ca.png)

[2018-09-13 19:04] #798 closed

[2018-09-13 19:15] KKaselkar commented on #814
trying to add cluster objecitve indicator with custom dates but system gives an error occurred in the bottom left corner and keeps on loading the page
![image](https://user-images.githubusercontent.com/32198614/45510305-d3ef7400-b767-11e8-96ee-242a1620fc98.png)

[2018-09-13 19:18] KKaselkar commented on #766
Resolved, error message is updated

[2018-09-13 19:18] #766 closed

[2018-09-13 19:28] KKaselkar commented on #793
Resolved able to remove amount in in need and save the indicator

[2018-09-13 19:28] #793 closed

[2018-09-13 20:00] KKaselkar commented on #823
Working fine, resolved

[2018-09-13 20:00] #823 closed

[2018-09-13 20:06] KKaselkar commented on #765
resolved.

[2018-09-13 20:06] #765 closed

[2018-09-13 20:14] KKaselkar commented on #832
Resolved.

[2018-09-13 20:14] #832 closed

[2018-09-13 20:18] KKaselkar commented on #864
resolved, save button is displayed after clicking on add locations

[2018-09-13 20:18] #864 closed

[2018-09-13 22:49] sethgold8 commented on #903
@KKaselkar the issue is with SR, not 'sent back'. We need to add 'Narrative' for PDF export.

XLS needs Narrative column as well.

Just for your information, it is impossible to add the attachment into the PDF/XLS afterwards so we will not be adding that.

[2018-09-14 04:54] n1207n commented on #895
I found a problem which is a data issue. The PD output from this SSFA has 2 LLO indicators pointing same cluster indicator. From the screenshot, I see 2 `MB_ClustAct_4_indi_2_11 Sept`. You can only add this cluster indicator once and PMP should throw validation on this.

We can only allow 1 ClusterActivity indicator to connect with LLO indicator, due to dual reporting requirements. This causes clu